<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>

    <h2 class="title">Control panel</h2>

    <p>Documentation</p>

    <p><a target="_blank" href="https://docs.metaheuristic.ai/p/source-code">Source code</a></p>
    <p><a target="_blank" href="https://docs.metaheuristic.ai/p/variable">Variables</a></p>
    <p><a target="_blank" href="https://docs.metaheuristic.ai/p/function">Functions</a></p>
    <p><a target="_blank" href="https://docs.metaheuristic.ai/p/full-installation#configure-processor">Processors</a></p>
    <p><a target="_blank" href="https://docs.metaheuristic.ai/p/security">Accounts</a></p>

</div>

