<div layout:fragment="content" layout:decorate="~{layout-pilot}"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
>
    <div>
        <h1 class="widget-header" th:text="${'Status of execution of batch #' + batchId}"></h1>

        <p>Status:</p>
        <pre style="width:100%" th:text="${console}"></pre>

        <p>&nbsp;</p>
        <a class="pure-button pure-button-primary" href="process-resources.html" th:href="${'/pilot/process-resource/process-resources'}">To list of batches</a>

    </div>
</div>