mixin CURRENT
    ct-section
        ct-section-header
            ct-section-header-row
                ct-flex(justify-content="space-between")
                    ct-flex-item
                        ct-flex(justify-content="flex-start" gap="8px")
                            ct-heading Plans
                    ct-flex-item
                        button(mat-flat-button color="primary" '[disabled]'="currentStates.has(states.loading) || currentStates.has(states.firstLoading)" routerLink="/launchpad/plans/add") Add Plan
    
        ct-section-body
            ct-section-body-row
                ct-table(#table)
                    table(mat-table '[dataSource]'="dataSource" class="mat-table") 
                        ng-container(matColumnDef="id") 
                            th(mat-header-cell *matHeaderCellDef) Id 
                            td(mat-cell *matCellDef="let el") {{el.id}} 
                        ng-container(matColumnDef="code") 
                            th(mat-header-cell *matHeaderCellDef) Code of plan
                            td(mat-cell *matCellDef="let el") {{el.code}} 
                        ng-container(matColumnDef="createdOn") 
                            th(mat-header-cell *matHeaderCellDef)  Created on 
                            td(mat-cell *matCellDef="let el") {{el.createdOn | date:'MMM d, yyyy, HH:mm:ss'}} 
                        ng-container(matColumnDef="valid") 
                            th(mat-header-cell *matHeaderCellDef) Is valid? 
                            td(mat-cell *matCellDef="let el") {{el.valid}} 
                        ng-container(matColumnDef="locked") 
                            th(mat-header-cell *matHeaderCellDef) Is locked? 
                            td(mat-cell *matCellDef="let el") {{el.locked}} 
                        ng-container(matColumnDef="bts" ) 
                            th(mat-header-cell *matHeaderCellDef)  
                            td(mat-cell *matCellDef="let el") 
                                ct-flex(justify-content="flex-end" gap="4px")
                                    ct-flex-item: button(mat-flat-button size="forTableRow" color="primary" '[routerLink]'="['/launchpad/plans',el.id,'edit']" title="Edit" '[disabled]'="el.locked") Edit
                                    ct-flex-item: button(mat-flat-button size="forTableRow" color="primary" '[routerLink]'="['/launchpad/plans',el.id,'workbooks']") Workbooks
                                    ct-flex-item: button(mat-flat-button size="forTableRow" '[disabled]'="el.locked" color="warn" '(click)'="archive(el)" title="Archive") To Archive
                                    ct-flex-item: button(mat-flat-button size="forTableRow" color="warn" '(click)'="delete(el)" title="Delete"): mat-icon delete
                        tr(mat-header-row *matHeaderRowDef="columnsToDisplay")  
                        tr(mat-row *matRowDef="let row; columns: columnsToDisplay;" 
                            '[class.deleted-table-row]'="deletedPlans.includes(row) || archivedPlans.includes(row)")
            ct-section-body-row(*ngIf="currentStates.has(states.firstLoading)")
                mat-progress-bar(mode="indeterminate")


        ct-section-footer
            ct-section-footer-row
                ct-flex(justify-content="space-between")
                    ct-flex-item
                        ct-flex(justify-content="flex-start" gap="8px")
                            ct-flex-item: button(mat-flat-button color="primary" #prevTable '(click)'='prev()' disabled): mat-icon arrow_back_ios
                            ct-flex-item: button(mat-flat-button color="primary" #nextTable '(click)'='next()' disabled): mat-icon arrow_forward_ios
                    ct-flex-item
                        button(mat-flat-button color="primary" '[disabled]'="currentStates.has(states.loading) || currentStates.has(states.firstLoading)" routerLink="/launchpad/plans/add") Add Plan



mat-tab-group(#matTabGroup mat-stretch-tabs dynamicHeight '(selectedIndexChange)'="tabChange()")
    mat-tab(label="CURRENT")
        br
        +CURRENT
    mat-tab(label="ARCHIVE")
        br
        plans-archive(#plansArchive)
    