ct-cols
    ct-col(size="6")
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading Add Snippet

            ct-section-body
                ct-section-body-row
                    ct-section-content
                        ct-file-upload(#fileUpload)
            ct-section-footer
                ct-section-footer-row
                    ct-flex(justify-content="flex-end" gap="8px")
                        ct-flex-item: button(mat-stroked-button '(click)'="cancel()") Cancel 
                        ct-flex-item: button(mat-flat-button '(click)'="upload()" color="primary" ) Add File 

    ct-col(size="6" '*ngIf'="response")
        ct-section
            ct-section-body
                ct-section-body-row
                    div STATUS: {{response.status}}
                    p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}
                    p(*ngFor="let info of response.infoMessages; index as i; trackBy: trackByFn") {{info}}




