.section
    .section__header
        ct-section-caption New Plan
    .section__body
        ct-cols(align-items="baseline")
            ct-col(size='6')
                .section__content
                    //- mat-form-field(appearance="outline") 
                    //-     mat-label Code 
                    //-     input(matInput '[(ngModel)]'="code" autocomplete="off") 
                    mat-form-field(appearance="outline") 
                        mat-label Parameters of Plan
                        textarea('[(ngModel)]'="planYaml" matInput cdkTextareaAutosize cdkAutosizeMinRows="10" value="" autocomplete="off")  
                    .buttons.buttons--right
                        button(mat-stroked-button '(click)'="cancel()") Back 
                        button(mat-flat-button '(click)'="create()" color="primary" '[disabled]'="currentState == states.loading" title="") Add
            ct-col(size='1')              
            ct-col(size='5')
                div(*ngIf="response")
                    div STATUS: {{response.status}}
                    p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}
                    p(*ngFor="let info of response.infoMessages; index as i; trackBy: trackByFn") {{info}}
        

