target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
r.bat

aiai-dispatcher
aiai-dispatcher*
aiai-processor/**
aiai-processor-h2/**
aiai-replication
aiai-launchpad
aiai-home

*_V2.class
*_V3.class
config
work
aa
aa?

hs_err_pid*.log
replay_pid9528.log
derby.log