<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New flow instance</h1>

        <!--/*@thymesVar id="result" type="aiai.ai.launchpad.flow.FlowController$FlowListResult"*/-->
        <form class="pure-form pure-form-stacked" action="#" th:method="POST" th:action="@{/launchpad/flow/flow-instance-add-commit}" accept-charset="UTF-8" id="flow-instance-add-form" name="f">
            <input type="hidden" name="flowId" th:value="${result.flow.id}"/>
            <fieldset>

                <p th:text="${'Flow code: ' + result.flow.code}"></p>
                <p>&nbsp;</p>

                <label for="code">Input pool code for this flow</label>
                <input name="code" id="code" type="text" placeholder="Input pool code for this flow" th:name="poolCode">
                <span class="pure-form-message">This is a required field.</span>

                <p>&nbsp;</p>
                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="flow-instances.html" th:href="${'/launchpad/flow/flow-instances/' + result.currentFlowId}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>