<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Flow edit</h1>

        <p class="error-msg" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></p>
        <p th:if="${#strings.isEmpty(errorMessage)}">&nbsp;</p>

        <!--/*@thymesVar id="flow" type="aiai.ai.launchpad.beans.Flow"*/-->
        <form class="pure-form pure-form-stacked" th:object="${flow}" method="post" action="#" th:method="POST" th:action="@{/launchpad/flow/flows-edit-form-commit}" accept-charset="UTF-8" id="station-form" name="f">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <fieldset>
                <label for="code">Code</label>
                <input name="code" id="code" type="text" placeholder="code" th:field="*{code}">
                <span class="pure-form-message">This is a required field.</span>

                <label for="params">Flow params</label>
                <textarea name="params" id="params" placeholder="params" cols="40" rows="30" th:field="*{params}" maxlength="10000"></textarea>
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="flows.html" th:href="${'/launchpad/flow/flows'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>