<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New flow instance</h1>

        <p class="error-msg" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></p>
        <p th:if="${#strings.isEmpty(errorMessage)}">&nbsp;</p>

        <!--/*@thymesVar id="result" type="aiai.ai.launchpad.flow.FlowController.FlowListResult"*/-->
        <form class="pure-form pure-form-stacked" action="#" th:method="POST" th:action="@{/launchpad/flow/flow-instance-add-commit}" accept-charset="UTF-8" id="flow-instance-add-form" name="f">
            <fieldset>

                <label for="code">Input pool code for this flow</label>
                <input name="code" id="code" type="text" placeholder="Input pool code for this flow" th:name="poolCode">
                <span class="pure-form-message">This is a required field.</span>

                <label for="flowId">List of flows</label>
                <select  id="flowId" class="pure-input-medium" th:name="flowId">
                    <option th:each="o : ${result.items}" th:value="${o.id}" th:text="${o.code} "></option>
                </select>
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="flows.html" th:href="${'/launchpad/flow/flow-instances/' + result.currentFlowId}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>