<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <p th:text="${'Flow code: ' + result.flow.code}"></p>
        <p>&nbsp;</p>


        <h1 class="widget-header">New flow instance with single input</h1>

        <!--/*@thymesVar id="result" type="aiai.ai.launchpad.data.FlowData.FlowResult"*/-->
        <form class="pure-form pure-form-stacked" action="#" th:method="POST" th:action="@{/launchpad/flow/flow-instance-add-commit}" accept-charset="UTF-8" id="flow-instance-add-form" name="f">
            <input type="hidden" name="flowId" th:value="${result.flow.id}"/>
            <fieldset>

                <label for="code">Input pool code for this flow</label>
                <input name="code" id="code" type="text" placeholder="Input pool code for this flow" th:name="poolCode">
                <span class="pure-form-message">This is a required field.</span>

                <p>&nbsp;</p>
                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="flow-instances.html" th:href="${'/launchpad/flow/flow-instances/' + result.flow.id}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>

        <h1 class="widget-header">New flow instance with multiply inputs</h1>
        <form class="pure-form pure-form-stacked" action="#" th:method="POST" th:action="@{/launchpad/flow/flow-instance-add-commit}" accept-charset="UTF-8" id="flow-instance-multiply-add-form" name="f">
            <input type="hidden" name="flowId" th:value="${result.flow.id}"/>
            <fieldset>

                <p th:text="Example"></p>
                <pre style="width:50%">
poolCodes:
  dataset-files:
    - file-01.csv
    - file-02.csv
  vocabular:
    - voc-01.txt</pre>


                <label for="inputResourceParams">Input resources of flow instance</label>
                <textarea name="inputResourceParams" id="inputResourceParams" placeholder="Input resources of flow instance" cols="70" rows="15"
                          maxlength="10000"></textarea>
                <span class="pure-form-message"></span>

                <p>&nbsp;</p>
                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>

        <h1 class="widget-header">&nbsp;</h1>

        <a class="pure-button pure-button-primary" href="flow-instances.html" th:href="${'/launchpad/flow/flow-instances/' + result.currentFlowId}">Cancel</a>


    </div>
</div>