mat-form-field {
    width: 100%;
}

.metadata-sections {

    .mat-column-key,
    .mat-column-empty {
        flex: none;
        width: 250px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .mat-column-values,
    .mat-column-edit {
        flex-grow: 1;
    }

    .mat-column-delete,
    .mat-column-done {
        flex: none;
    }

    .mat-column-bts {
        flex: none;
    }

    div {
        width: 100%;
    }

    .mat-row {
        align-items: baseline;
    }

    .mat-row:after {
        content: none;
    }

    mat-form-field {
        margin-top: 1.34375em;
    }

    .metadata-default-param {

        mat-row,
        mat-header-row {
            min-height: auto
        }

        mat-cell,
        mat-header-cell {
            padding-top: 0.2em;
            padding-bottom: 0.2em;
        }

        .simple-table {
            opacity: 0.5;
        }
    }

    .metadata-new-param {}

    .metadata-params {
        .caption-row:hover{
            background: rgba(0,0,0,0.033);
        }
        .caption-row.picked-row:hover{
            background: rgba(0,0,0,0);
        }
        .caption-row+.edit-row {
            // display: none;
        }

        .caption-row.picked-row+.edit-row {
            display: flex;
            // position: relative;
            // top: -2px;
        }
    }
}

.simple-experiment-section {
    margin-bottom: 3em;
}

.snippets-section {
    margin-bottom: 3em;

    // .mat-column-type {
    //     flex: none;
    //     width: 250px;
    // }

    .mat-form-field {
        padding: 16px 16px 0;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    }
}