<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Archive the sourceCode</h1>

        <!--/*@thymesVar id="sourceCode" type="ai.metaheuristic.ai.launchpad.beans.SourceCodeImpl"*/-->
        <form class="pure-form pure-form-stacked" th:object="${sourceCode}">
            <fieldset>
                <label for="code">Code of sourceCode</label>
                <input name="code" id="code" type="text" placeholder="code" th:field="*{code}">
                <span class="pure-form-message">This is a required field.</span>

                <label for="sourceCodeYamlAsStr">Parameters of sourceCode</label>
                <pre id="sourceCodeYamlAsStr"  th:text="${sourceCodeYamlAsStr}"></pre>
                <span class="pure-form-message">This is a required field.</span>
            </fieldset>
        </form>

        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#" th:object="${sourceCode}" th:method="post" th:action="@{/launchpad/source-code/source-code-archive-commit}"
                          accept-charset="UTF-8"
                          id="sourceCode-archive-commit"
                          name="f">
                        <input type="hidden" th:field="*{id}"/>
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Archive</button>
                        </fieldset>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <form class="pure-form pure-form-stacked" method="get" action="#" th:method="get" th:action="@{/launchpad/source-code/sourceCodes}" accept-charset="UTF-8" id="sourceCode-archive-cancel" name="f">
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Cancel</button>
                        </fieldset>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>