<mat-card class="flow-card">
    <mat-card-header>
        <mat-card-title>New Flow</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput>
            <mat-hint>Hint</mat-hint>
            <!--             
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Error
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Value is <strong>required</strong>
            </mat-error> 
-->
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
            <mat-label>Parameters</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3"></textarea>
            <mat-hint>Hint</mat-hint>
            <!--             
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Error
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Value is <strong>required</strong>
            </mat-error> 
-->
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <div class="flex flex-end">
            <button mat-flat-button (click)="cancel()">Cancel</button>
            <button mat-flat-button (click)="create()" color="primary" title="">Create</button>
        </div>
    </mat-card-actions>
</mat-card>