<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New launchpad address</h1>

        <!--/*@thymesVar id="address" type="aiai.ai.launchpad.beans.LaunchpadAddress"*/-->
        <form class="pure-form pure-form-stacked" th:object="${address}" method="post" action="#" th:method="POST" th:action="@{/registry/address/address-add-commit}" accept-charset="UTF-8" id="address-form" name="f">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <fieldset>

                <label for="url">URL</label>
                <input name="url" id="url" type="text" placeholder="URL of launchpad"  th:field="*{url}">
                <span class="pure-form-message">This is a required field.</span>

                <label for="description">Description</label>
                <input name="description" id="description" type="text" placeholder="Description"  th:field="*{description}">
                <span class="pure-form-message">This is a required field.</span>

                <label for="signature">Signature</label>
                <textarea name="signature" id="signature" placeholder="Signature" cols="40" rows="5" th:field="*{signature}" maxlength="1000"></textarea>
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create launchpad address</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="addresses.html" th:href="${'/registry/address/addresses'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>