mat-list(class="page-sidenav-list" color="primary")
	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/plans") Plans
	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/batch") Batch

	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/experiments") Experiments
	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/atlas") Atlas

	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/resources") Resources
	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/snippets") Snippets
	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/stations") Stations
	mat-list-item: button(class="mat-button" mat-button="" routerLinkActive="active" routerLink="/launchpad/accounts") Accounts

