ct-cols
    ct-col(size="6")
        ct-section
            ct-section-header
                ct-section-header-row 
                    ct-heading Export an Experiment from Atlas 
            ct-section-body 
                ct-section-body-row 
                    ct-section-content
                        a( target="_self" href="{{'/launchpad/atlas/atlas-experiment-export/' + atlasDownloadName}}" '[download]'="atlasDownloadName")
                            button(mat-flat-button size-x wide color="primary") Export
                ct-section-body-row 
                    ct-section-content
                        button(mat-stroked-button '(click)'="back()") Cancel

ct-cols
    ct-col(size="6")
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading Import an Experiment to Atlas from File
            ct-section-body
                ct-section-body-row
                    ct-section-content
                        // TODO accept types
                        ct-file-upload(#fileUpload acceptTypes="sdfsd")
            ct-section-footer
                ct-section-footer-row
                    ct-flex(justify-content="flex-end" gap="8px")
                        ct-flex-item
                            button(mat-stroked-button '(click)'="back()") Cancel
                        ct-flex-item
                            button(mat-flat-button color="primary" '[disabled]'="currentStates.has(states.loading) || currentStates.has(states.firstLoading)" '(click)'="upload()") Upload File