<div class="body">
  <form action="" class="form">
    <div class="form__header">
      <h3>Sign in</h3>
    </div>
    <div class="form__body">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>
    </div>
    <div class="form__footer">
      <mat-checkbox class="example-margin" color="primary">Remember</mat-checkbox>
      <button class="mat-flat-button" mat-button="" (click)="signin()" color="primary" title="">Sign In</button>
    </div>
  </form>
</div>
