<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-mh.dispatcher.}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.mh.dispatcher..enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New station record</h1>

        <!--/*@thymesVar id="station" type="ai.metaheuristic.ai.mh.dispatcher..beans.Station"*/-->
        <form class="pure-form pure-form-stacked" th:object="${station}" method="post" action="#" th:method="POST" th:action="@{/mh.dispatcher./station/station-form-commit}" accept-charset="UTF-8" id="station-form" name="f">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <fieldset>
<!--
                <label for="ip">IP</label>
                <input name="ip" id="ip" type="text" placeholder="IP address"  th:field="*{ip}" />
                <span class="pure-form-message">This is a required field.</span>
-->

                <label for="description">Description</label>
                <input name="description" id="description" type="text" placeholder="description"  th:field="*{description}">
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="stations.html" th:href="${'/mh.dispatcher./station/stations'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>