<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     sec:authorize="isAuthenticated()"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <a class="pure-menu-heading">Launchpad</a>
    <ul>
        <li th:attr="class=${#httpServletRequest.requestURI=='/launchpad/index'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/index.html" th:href="@{/launchpad/index}">Launchpad index</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI=='/launchpad/stations'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/stations.html" th:href="@{/launchpad/stations}">Stations</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI=='/launchpad/datasets' || #httpServletRequest.requestURI.startsWith('/launchpad/dataset-definition')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/datasets.html" th:href="@{/launchpad/datasets}">Datasets</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI=='/launchpad/experiments'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/experiments.html" th:href="@{/launchpad/experiments}">Experiments</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI=='/launchpad/snippets'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/snippets.html" th:href="@{/launchpad/snippets}">Snippets</a>
        </li>
    </ul>
</div>
