<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a class="pure-menu-heading">Разметка датасетов</a>
    <ul>
        <li th:attr="class=${#httpServletRequest.requestURI=='/' || #httpServletRequest.requestURI=='/index'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="/" th:href="@{/}">Index</a>
        </li>
    </ul>
</div>
