div(*ngIf='experimentInfo')
    ct-section
        ct-section-header
            ct-section-header-row
                ct-flex(justify-content="space-between" align-items="flex-end")
                    ct-flex-item
                        div Workbook Exec State:
                        div(style="font-size:48px") {{experimentInfo.workbookExecState}}
                        div: button(mat-stroked-button wide '(click)'='stop()') Stop
                    ct-flex-item
                        ct-flex-item: button(mat-flat-button wide size-x color="primary" '(click)'='toAtlas()') to Atlas



    include general-info.partial.pug
    include hyper-parameters.partial.pug
    include features.partial.pug
