<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Delete Message</h1>

        <!--/*@thymesVar id="account" type="ai.metaheuristic.ai.launchpad.beans.Account"*/-->
        <form class="form-horizontal" th:object="${account}">
            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-10">
                    <input name="text" id="username" type="text" placeholder="Text" th:field="*{username}" th:disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Token:</label>
                <div class="col-sm-10">
                    <input name="text" id="token" type="text" placeholder="Text" th:field="*{username}" th:disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Public name:</label>
                <div class="col-sm-10">
                    <input name="text" id="publicName" type="text" placeholder="Text" th:field="*{publicName}" th:disabled="true"/>
                </div>
            </div>
        </form>

        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#" th:object="${account}" th:method="post" th:action="@{/manager/account-delete-commit}"
                          accept-charset="UTF-8"
                          id="account-delete-commit"
                          name="f">
                        <input type="hidden" th:field="*{id}"/>
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Delete</button>
                        </fieldset>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <form class="pure-form pure-form-stacked" method="get" action="#" th:method="get" th:action="@{/launchpad/account}" accept-charset="UTF-8" id="account-delete-cancel" name="f">
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Cancel</button>
                        </fieldset>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>