ct-section('*ngIf'="currentStates.has(states.firstLoading)")
    ct-section-body
        ct-section-body-row
            ct-section-content
                mat-progress-bar(mode="indeterminate")

ct-cols('*ngIf'="currentStates.has(states.show)")
    ct-col(size="6")
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading Upload file for processing
                ct-section-body-row('*ngIf'="currentStates.has(states.show)")
                    ct-section-content
                        mat-form-field
                            mat-label list of Plans
                            mat-select('[(ngModel)]'="plan")
                                div('*ngFor'="let plan of listOfPlans")
                                    mat-option([value]="plan") {{plan.code}}
                ct-section-body-row('*ngIf'="currentStates.has(states.show)")
                    ct-section-content
                        // TODO add accept types 
                        ct-file-upload(#fileUpload accepTypes="sdfsd")
            ct-section-footer
                ct-section-footer-row
                    ct-flex(justify-content="flex-end" gap="8px")
                        ct-flex-item
                            button(mat-stroked-button '(click)'="back()") Cancel
                        ct-flex-item
                            button(mat-flat-button color="primary" '[disabled]'="currentStates.has(states.loading) || currentStates.has(states.firstLoading)" '(click)'="upload()") Upload File
    ct-col(size="6")
        ct-section('*ngIf'="uploadResponse")
            ct-section-body
                ct-section-body-row
                    ct-section-content
                        div
                            div STATUS: {{response.status}}
                            p('*ngFor'="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}
                            p('*ngFor'="let info of response.infoMessages; index as i; trackBy: trackByFn") {{info}}