<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>

    <script>
        var table = function (html) {
            $('#fragment-table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $.post('/launchpad/resources-part', table);
        });

    </script>

    <h1 class="widget-header">Resources</h1>

    <p class="error-msg" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></p>
    <p th:if="${#strings.isEmpty(errorMessage)}">&nbsp;</p>
    <p>&nbsp;</p>


    <form class="pure-form" action="#" method="post" enctype="multipart/form-data" th:method="POST"
          th:action="@{/launchpad/resource-upload-from-file}"
    >
                    <fieldset>
                        <label for="uploadFile">Part of raw file</label>
                        <input id="uploadFile" placeholder="Choose File" th:disabled="disabled" th:size="100" style="color:black; background-color:white"/>
                        <div class="fileUpload pure-button pure-button-primary">
                            <span>Select file</span>
                            <input name="file" id="uploadBtn" type="file" class="upload">
                        </div>
                        <span class="pure-form-message">This is a required field.</span>
                    </fieldset>
                    <fieldset>
                        <label for="code">Resource code</label>
                        <input name="code" id="code" type="text" placeholder="code">
                        <span class="pure-form-message">This is a required field.</span>
                    </fieldset>
                    <fieldset>
                        <label for="poolCode">Resource pool code</label>
                        <input name="poolCode" id="poolCode" type="text" placeholder="poolCode">
                        <span class="pure-form-message">This is a required field.</span>
                    </fieldset>
        <p></p>
        <button type="submit" class="pure-button pure-button-primary">Start uploading file</button>
    </form>

    <script>
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };
    </script>

    <p>&nbsp;</p>

    <!--/*@thymesVar id="result" type="aiai.ai.launchpad.experiment.resource.ResourceController.Result"*/-->
    <table class="pure-table pure-table-bordered" id="fragment-table" th:fragment="fragment-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Is valid?</th>
            <th>Upload date</th>
            <th>Type of resource</th>
            <th>Checksum</th>
            <th>Code</th>
            <th>Pool code</th>
            <th>Is manual</th>
            <th>Filename</th>
            <th colspan="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${result.items}">
            <td th:text="${p.id}">#Id</td>
            <td th:text="${p.isValid() ? 'True' : 'False'}">Is valid?</td>
            <td th:text="${#dates.format(p.uploadTs, 'dd-MMM-yy HH:mm')}">Upload date</td>
            <td th:text="${p.getDataTypeAsStr()}">Type of data</td>
            <td th:text="${p.checksum}">Checksum</td>
            <td th:text="${p.code}">Code</td>
            <td th:text="${p.poolCode}">Pool code</td>
            <td th:text="${p.manual}">is manual</td>
            <td th:text="${p.filename}">Filename</td>
            <td><a class="pure-button pure-button-primary" th:href="${'/launchpad/resource-delete/' + p.id}">Delete</a></td>
        </tr>
        <tr>
            <td colspan="10">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.items.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.items.first}'
                               th:href="@{/launchpad/resources-part(page=0,size=${result.items.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasPrevious()}'
                               th:href="@{/launchpad/resources-part(page=${result.items.pageable.pageNumber - 1},size=${result.items.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasNext()}'
                               th:href='@{/launchpad/resources-part(page=${result.items.pageable.pageNumber + 1},size=${result.items.pageable.pageSize})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
