<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:fragment="content"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>

    <script>
        var table = function (html) {
            $('#table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $.post('/launchpad/stations-part', table);
        });

    </script>

    <h1 class="widget-header">Stations</h1>

    <p class="error-msg" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></p>
    <p th:if="${#strings.isEmpty(errorMessage)}">&nbsp;</p>

    <a class="pure-button pure-button-primary" href="station-form.html" th:href="@{/launchpad/station-add}">Add new record</a>
    <p></p>

    <!--/*@thymesVar id="result" type="aiai.ai.launchpad.station.StationsController.Result"*/-->
    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>IP address</th>
            <th>Description</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${result.items}">
            <td th:text="${r.id}">Sample Item</td>
            <td th:text="${r.ip}">Sample IP address</td>
            <td th:text="${r.description}">Sample Description</td>
            <td><a class="pure-button pure-button-primary" th:href="${'/launchpad/station-edit/' + r.id}">Edit</a></td>
            <td><a class="pure-button pure-button-primary" th:href="${'/launchpad/station-delete/' + r.id}">Delete</a></td>
        </tr>
        <tr>
            <td colspan="5">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.items.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.items.first}'
                               th:href="@{/launchpad/stations-part(page=0,size=${result.items.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasPrevious()}'
                               th:href="@{/launchpad/stations-part(page=${result.items.pageable.pageNumber - 1},size=${result.items.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasNext()}'
                               th:href='@{/launchpad/stations-part(page=${result.items.pageable.pageNumber + 1},size=${result.items.pageable.pageSize})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
