<div class="body">
    <div class="body-header">
        <h1>Stations</h1>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    <mat-card class="plan-card">
        <table mat-table [dataSource]="dataSource" class="mat-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let el">{{el.id}}</td>
            </ng-container>
            <ng-container matColumnDef="ipAddress">
                <th mat-header-cell *matHeaderCellDef>IP Address</th>
                <td mat-cell *matCellDef="let el">{{el.ipAddress}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let el">{{el.description}}</td>
            </ng-container>
            <ng-container matColumnDef="environment">
                <th mat-header-cell *matHeaderCellDef>Environment</th>
                <td mat-cell *matCellDef="let el">{{el.environment}}</td>
            </ng-container>
            <ng-container matColumnDef="activeTime">
                <th mat-header-cell *matHeaderCellDef>Active Time</th>
                <td mat-cell *matCellDef="let el">{{el.activeTime}}</td>
            </ng-container>
            <ng-container matColumnDef="bts">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let el">
                    <!--                 <button mat-flat-button color="primary" routerLink="/launchpad">
                    Edit
                </button>
                <button mat-flat-button color="primary" routerLink="/launchpad">
                    Instances
                </button>
                <button mat-flat-button color="warn" routerLink="/launchpad">
                    Delete
                </button> -->
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <div>
            <mat-paginator [pageSizeOptions]="[10]" hidePageSize></mat-paginator>
        </div>
    </mat-card>
    <div class="body-footer">
        <div></div>
        <div>
            <button mat-flat-button color="primary" routerLink="/launchpad/plans/add">Add Plan</button>
        </div>
    </div>
</div>