.section
    .section__header
        ct-section-caption Stations
    .section__body
        .section__content('*ngIf'="currentState == states.loading")
            mat-progress-bar(mode="indeterminate")
        .simple-table('*ngIf'="currentState == states.show")
            table(mat-table '[dataSource]'="dataSource" multiTemplateDataRows class="mat-table") 
                ng-container(matColumnDef="id") 
                    th(mat-header-cell *matHeaderCellDef) Id 
                    td(mat-cell *matCellDef="let el") {{el.id}}  
                    td(mat-cell *matCellDef="let el") test
                ng-container(matColumnDef="ip") 
                    th(mat-header-cell *matHeaderCellDef) IP Address  
                    td(mat-cell *matCellDef="let el") {{el.ip || '—'}}  
                ng-container(matColumnDef="description") 
                    th(mat-header-cell *matHeaderCellDef) Description  
                    td(mat-cell *matCellDef="let el") {{el.description || '—'}}  
                ng-container(matColumnDef="empty") 
                    td(mat-cell *matCellDef="let el")  
                ng-container(matColumnDef="env") 
                    //- th(mat-header-cell *matHeaderCellDef) Environment  
                    td(mat-cell *matCellDef="let el" '[attr.colspan]'="columnsToDisplay.length - 1") 
                        div.mat-header-cell(style="padding:0") Environment
                        pre {{el.env || '—'}}  
                ng-container(matColumnDef="activeTime") 
                    th(mat-header-cell *matHeaderCellDef) Active Time  
                    td(mat-cell *matCellDef="let el") {{el.activeTime || '—'}}  
                ng-container(matColumnDef="bts") 
                    th(mat-header-cell *matHeaderCellDef)   
                    td(mat-cell *matCellDef="let el")
                        .buttons.buttons--right 
                            a(mat-flat-button color="primary"  '[routerLink]'="['/launchpad/stations',el.id,'edit']") Edit
                            button(mat-flat-button color="warn" '(click)'="delete(el.id)")
                                mat-icon delete
                tr(mat-header-row *matHeaderRowDef="columnsToDisplay")
                tr.first-row(mat-row *matRowDef="let row; columns: columnsToDisplay;") 
                tr.second-row(mat-row *matRowDef="let row; columns: secondColumnsToDisplay;") 
        .section__content('*ngIf'="currentState == states.empty")
            .flex.flex--jc_c Empty
    .section__footer
        .flex.flex--jc_sb
            .buttons.buttons--left 
                button(mat-flat-button #prevTable '(click)'='prev()' disabled): mat-icon arrow_back_ios
                button(mat-flat-button #nextTable '(click)'='next()' disabled): mat-icon arrow_forward_ios
