<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>

<script>
        var table = function (html) {
            $('#table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            // is this the right usage?
            $.post('/dispatcher/account/accounts-part', table);
        });

    </script>

    <!--/*@thymesVar id="result" type="ai.metaheuristic.ai.dispatcher.data.AccountData$AccountsResult"*/-->
    <h1 class="widget-header">Accounts</h1>
    <div th:if="${result.assetMode==T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
        <p class="alert alert-info">Creating and editing of accounts are disabled, assetMode is 'replicated'.</p>
    </div>

    <div th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
        <a class="pure-button pure-button-primary" href="account-add.html" th:href="@{/dispatcher/account/account-add}">Add new account</a>
        <p></p>
    </div>

    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr th:align="center">
            <th>#</th>
            <th>Is enabled</th>
            <th>Login</th>
            <th>Public name</th>
            <th>Created on</th>
            <th colspan="2" th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${result.accounts}">
            <td th:text="${r.id}">#Id</td>
            <td th:text="${r.enabled} ? 'Yes' : 'No'">Is enabled</td>
            <td th:text="${r.username}">Login</td>
            <td th:text="${r.publicName}">publicName</td>
            <td th:text="${#dates.formatISO(r.createdOn)}">CreatedOn</td>
            <td th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
                <a class="pure-button pure-button-primary" th:href="${'/dispatcher/account/account-edit/' + r.id}">Edit</a></td>
            <td th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
                <a class="pure-button pure-button-primary" th:href="${'/dispatcher/account/account-password-edit/' + r.id}">Change password</a></td>
        </tr>
        <tr>
            <td  th:colspan="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated} ? 8 : 6">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.accounts.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.accounts.first}'
                               th:href="@{/dispatcher/account/accounts-part(page=0,size=${result.accounts.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.accounts.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.accounts.hasPrevious()}'
                               th:href="@{/dispatcher/account/accounts-part(page=${result.accounts.pageable.pageNumber - 1},size=${result.accounts.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.accounts.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.accounts.hasNext()}'
                               th:href='@{/dispatcher/account/accounts-part(page=${result.accounts.pageable.pageNumber + 1},size=${result.accounts.pageable.pageSize})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
