<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Edit account</h1>

        <!--/*@thymesVar id="account" type="ai.metaheuristic.api.data.account.SimpleAccount"*/-->
        <p th:text="${'Username: ' + account.username}">username</p>

        <form class="pure-form pure-form-stacked" th:object="${account}" method="post" action="#" th:method="POST"
              th:action="@{/dispatcher/account/account-edit-commit}" accept-charset="UTF-8" id="account-form"
              name="f">
            <input type="hidden" th:name="id" th:value="${account.id}"/>
            <fieldset>

                <label for="enabled">Is account enabled?</label>
                <input name="enabled" id="enabled" type="checkbox" placeholder="checkbox" th:checked="${account.enabled}">
                <span class="pure-form-message">This is a required field.</span>

                <label for="publicName">Public name</label>
                <input name="publicName" id="publicName" type="text" placeholder="text" th:value="${account.publicName}">
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="accounts.html"
                               th:href="${'/dispatcher/account/accounts'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>