ct-section
    ct-section-header
        ct-section-header-row
            ct-flex(justify-content="space-between" align-items="center")
                ct-flex-item
                    ct-heading Stations
                ct-flex-item
                    mat-slide-toggle('[(ngModel)]'="showStatusOfStation") Show current status of station
    ct-section-body
        ct-section-body-row('*ngIf'="currentState == states.show")
            ct-table
                table(mat-table '[dataSource]'="dataSource" multiTemplateDataRows class="mat-table") 
                    ng-container(matColumnDef="id") 
                        th(mat-header-cell *matHeaderCellDef) Id 
                        td(mat-cell *matCellDef="let el") {{el.station.id}}  
                        td(mat-cell *matCellDef="let el") test
                    ng-container(matColumnDef="ip") 
                        th(mat-header-cell *matHeaderCellDef) IP Address  
                        td(mat-cell *matCellDef="let el") {{el.ip || '—'}} <br> {{el.host || '—'}} 
                    ng-container(matColumnDef="description") 
                        th(mat-header-cell *matHeaderCellDef) Description  
                        td(mat-cell *matCellDef="let el") {{el.station.description || '—'}}  
                    ng-container(matColumnDef="empty") 
                        td(mat-cell *matCellDef="let el")  
                    ng-container(matColumnDef="env") 
                        //- th(mat-header-cell *matHeaderCellDef) Environment  
                        td(mat-cell *matCellDef="let el" '[attr.colspan]'="columnsToDisplay.length - 1") 
                            b Status of Station:
                            ct-pre {{el.station.status || '—'}}  
                    ng-container(matColumnDef="isActive") 
                        th(mat-header-cell *matHeaderCellDef) is Active
                        td(mat-cell *matCellDef="let el") {{el.active }}  
                    ng-container(matColumnDef="isBlacklisted") 
                        th(mat-header-cell *matHeaderCellDef) is Blacklisted
                        td(mat-cell *matCellDef="let el") {{el.blacklisted }}

                    ng-container(matColumnDef="lastSeen") 
                        th(mat-header-cell *matHeaderCellDef) Last Seen 
                        td(mat-cell *matCellDef="let el") {{el.lastSeen | date}}  
                    ng-container(matColumnDef="bts") 
                        th(mat-header-cell *matHeaderCellDef)   
                        td(mat-cell *matCellDef="let el")
                            ct-flex(justify-content="flex-end" gap="4px")
                                ct-flex-item: button(mat-flat-button size="forTableRow" color="primary" '[routerLink]'="['/launchpad/stations',el.station.id,'edit']") Edit
                                ct-flex-item: button(mat-flat-button size="forTableRow" color="warn" '(click)'="delete(el)"): mat-icon delete
                    tr(mat-header-row *matHeaderRowDef="columnsToDisplay")
                    tr.first-row(mat-row *matRowDef="let row; columns: columnsToDisplay;") 
                    tr.second-row(mat-row *matRowDef="let row; columns: secondColumnsToDisplay;" '[hidden]'="!showStatusOfStation" ) 
        ct-section-body-row('*ngIf'="currentState == states.loading")
            mat-progress-bar(mode="indeterminate")
    ct-section-footer
        ct-section-footer-row
            ct-flex(justify-content="flex-start" gap="8px")
                ct-flex-item: button(mat-flat-button color="primary" #prevTable '(click)'='prev()' disabled): mat-icon arrow_back_ios
                ct-flex-item: button(mat-flat-button color="primary" #nextTable '(click)'='next()' disabled): mat-icon arrow_forward_ios


