<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Archive the plan</h1>

        <!--/*@thymesVar id="plan" type="ai.metaheuristic.ai.launchpad.beans.PlanImpl"*/-->
        <form class="pure-form pure-form-stacked" th:object="${plan}">
            <fieldset>
                <label for="code">Code of plan</label>
                <input name="code" id="code" type="text" placeholder="code" th:field="*{code}">
                <span class="pure-form-message">This is a required field.</span>

                <label for="planYamlAsStr">Parameters of plan</label>
                <pre id="planYamlAsStr"  th:text="${planYamlAsStr}"></pre>
                <span class="pure-form-message">This is a required field.</span>
            </fieldset>
        </form>

        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#" th:object="${plan}" th:method="post" th:action="@{/launchpad/plan/plan-archive-commit}"
                          accept-charset="UTF-8"
                          id="plan-archive-commit"
                          name="f">
                        <input type="hidden" th:field="*{id}"/>
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Archive</button>
                        </fieldset>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <form class="pure-form pure-form-stacked" method="get" action="#" th:method="get" th:action="@{/launchpad/plan/plans}" accept-charset="UTF-8" id="plan-archive-cancel" name="f">
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Cancel</button>
                        </fieldset>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>