<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New plan</h1>

        <!--/*@thymesVar id="plan" type="ai.metaheuristic.ai.launchpad.beans.PlanImpl"*/-->
        <form class="pure-form pure-form-stacked" th:object="${plan}" method="post" action="#" th:method="POST" th:action="@{/launchpad/plan/plan-add-commit}" accept-charset="UTF-8" id="plan-form" name="f">
            <fieldset>

                <label for="code">Code of plan</label>
                <input name="code" id="code" type="text" placeholder="Code of plan" th:field="*{code}" size="50">
                <span class="pure-form-message">This is a required field.</span>

                <label for="params">Parameters of plan</label>
                <textarea name="params" id="params" placeholder="Parameters of plan" cols="70" rows="15" th:field="*{params}" maxlength="10000"></textarea>
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="plans.html" th:href="${'/launchpad/plan/plans'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>