<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Edit the sourceCode</h1>

        <!--/*@thymesVar id="sourceCode" type="ai.metaheuristic.ai.launchpad.beans.SourceCodeImpl"*/-->
        <form class="pure-form pure-form-stacked" method="post" action="#" th:method="POST" th:action="@{/launchpad/sourceCode/sourceCode-edit-commit}" accept-charset="UTF-8" id="station-form" name="f">
            <input type="hidden" name="planId" th:value="${sourceCode.id}"/>
            <fieldset>

                <label for="planYamlAsStr">Parameters of sourceCode</label>
                <textarea name="planYamlAsStr" id="planYamlAsStr" placeholder="Parameters of sourceCode" cols="70" rows="15"
                          th:text="${planYamlAsStr}" maxlength="10000"></textarea>
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="#" th:href="${'/launchpad/sourceCode/sourceCode-validate/' + sourceCode.id}">Validate</a>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="sourceCodes.html" th:href="${'/launchpad/sourceCode/sourceCodes'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>