.mat-dialog-content {{data.question}}
.mat-dialog-actions
    .mat-dialog-action
        button(mat-stroked-button color="basic" '(click)'='onNoClick()') {{data.rejectTitle}}
    .mat-dialog-action
        button(mat-flat-button color="warn" '(click)'='onYesClick()') {{data.resolveTitle}}