ct-cols(align-items="baseline")
    ct-col(size='6')
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading Edit Account {{account ? account.username : ''}} ({{account ? account.publicName : ''}})
            ct-section-body
                ct-section-body-row
                    form('[formGroup]'="form" novalidate)
                        ct-section-content
                            mat-form-field(appearance="outline") 
                                mat-label Password
                                input(matInput type="password" autocomplete="off" formControlName="password") 
                        ct-section-content
                            mat-form-field(appearance="outline") 
                                mat-label Password again
                                input(matInput type="password" autocomplete="off" formControlName="password2") 
            ct-section-footer
                ct-section-footer-row
                    ct-flex(justify-content="flex-end" gap="8px")
                        ct-flex-item: button(mat-stroked-button '(click)'="location.back()") Cancel
                        ct-flex-item: button(mat-flat-button '(click)'="save()" color="primary" '[disabled]'="currentStates.has(states.wait) || form.invalid") Save
    ct-col(size='6')
        ct-section(*ngIf="response")
            ct-section-body
                ct-section-body-row
                    p STATUS: {{response.status}}
                    p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}
