mixin col1
    .section__content
        form(#form)
            .flex.flex--jc_fs.flex--fw_w
                button(mat-flat-button color="accent" '(click)'="fileInput.click()")
                    mat-icon.md-48 attach_file
                    span Choose File
                div.file-names
                    div(*ngFor="let item of fileInput.files") {{item.name}}
            input(#fileInput type="file" hidden name="file" '(change)'="fileChanged($event)") 
    .section__content
        .buttons.buttons--right
            button(mat-stroked-button '(click)'="cancel()") Cancel 
            button(mat-flat-button '(click)'="upload()" color="primary" title="" '[disabled]'="[states.loading, states.empty].includes(uploadState)") Add File 
mixin col3
    div(*ngIf="response")
        div STATUS: {{response.status}}
        p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}
        p(*ngFor="let info of response.infoMessages; index as i; trackBy: trackByFn") {{info}}





ng-template('[ngIf]'="currentState == states.loading")
    mat-progress-bar(mode="indeterminate")


ng-template('[ngIf]'="currentState == states.show")
    .section
        .section__header
            ct-section-caption Snippets 
        .section__body
            ct-cols(align-items="baseline")
                ct-col(size="6"): +col1
                ct-col(size="1")
                ct-col(size="5"): +col3
