.mat-button {
    border: 1px solid transparent;
}

table .mat-button,
table .mat-flat-button,
table .mat-icon-button,
table .mat-stroked-button {
    line-height: inherit;
    min-width: auto;
    padding-left: 8px;
    padding-right: 8px;
    font-size: inherit;
    // font-family: 'Roboto Condensed';

    .mat-button-wrapper {
        font-size: inherit;
        display: inline-block;
        padding-top: 2px;
        line-height: 22px;
        letter-spacing: 0.05em;
        font-weight: 400;
        opacity: 0.95;
    }

    .mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 20px;
        height: 20px;
        margin-top: -2px;

    }
}