.mat-button {
    border: 1px solid transparent;
}

.mat-button[wide],
.mat-flat-button[wide],
.mat-icon-button[wide],
.mat-stroked-button[wide] {
    padding: 0 3em
}

.mat-button[size-x],
.mat-flat-button[size-x],
.mat-icon-button[size-x],
.mat-stroked-button[size-x] {
    height: 48px;
    font-size: 133%;
}

.mat-button[size-s],
.mat-flat-button[size-s],
.mat-icon-button[size-s],
.mat-stroked-button[size-s] {
    height: 22px;
    font-size: 100%;
}

.mat-button[size=forTableRow],
.mat-flat-button[size=forTableRow],
.mat-icon-button[size=forTableRow],
.mat-stroked-button[size=forTableRow] {
    line-height: inherit;
    min-width: auto;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    font-size: inherit;

    .mat-button-wrapper {
        font-size: inherit;
        display: inline-block;
        padding-top: 2px;
        line-height: 22px;
        letter-spacing: 0.05em;
        font-weight: 400;
        opacity: 0.95;
    }

    .mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 20px;
        height: 20px;
        margin-top: -2px;
    }
}



// TODO remove
// table .mat-button,
// table .mat-flat-button,
// table .mat-icon-button,
// table .mat-stroked-button {
//     line-height: inherit;
//     min-width: auto;
//     padding-left: 8px;
//     padding-right: 8px;
//     font-size: inherit;

//     .mat-button-wrapper {
//         font-size: inherit;
//         display: inline-block;
//         padding-top: 2px;
//         line-height: 22px;
//         letter-spacing: 0.05em;
//         font-weight: 400;
//         opacity: 0.95;
//     }

//     .mat-icon {
//         display: inline-flex;
//         align-items: center;
//         justify-content: center;
//         font-size: 18px;
//         width: 20px;
//         height: 20px;
//         margin-top: -2px;
//     }
// }