.simple-notification {
    word-break: break-word;
    float: right !important;
    width: auto !important;
    min-width: 300px;
}

.simple-notification-wrapper {
    min-width: 300px;
    width: auto !important;
    max-width: 400px;
}