ct-section
    ct-section-header
        ct-section-header-row
            ct-heading Status of execution of batch \#{{response ? response.batchId : ''}}
    ct-section-body
        ct-section-body-row('*ngIf'="currentState == states.firstLoading")
            mat-progress-bar(mode="indeterminate")
        ct-section-body-row('*ngIf'="[states.wait,states.show].includes(currentState)") 
            ct-pre {{response.console}}
