
mixin default-metadata
    .metadata-default-param
        .section
            .section__body
                .section__content
                    .simple-table
                        mat-table('[dataSource]'="defaultMetadata" class="mat-table") 
                            ng-container(matColumnDef="key") 
                                mat-header-cell(*matHeaderCellDef)  Key 
                                mat-cell(*matCellDef="let el") {{el[0]}}
                            ng-container(matColumnDef="values") 
                                mat-header-cell(*matHeaderCellDef)  Values 
                                mat-cell(*matCellDef="let el") {{el[1]}}
                            mat-header-row(*matHeaderRowDef="['key', 'values']")
                            mat-row(*matRowDef="let row; columns: ['key', 'values'];")
                .section__content
                    .buttons.buttons--right
                        button(mat-flat-button color="primary" '(click)'="addDefaultHyperParams()") Fill with Default Metadatas



mixin metadata-new-param
    .metadata-new-param
        .section
            .section__body
                .simple-table
                    mat-table('[dataSource]'="[1]" class="mat-table") 
                        ng-container(matColumnDef="key") 
                            mat-cell(*matCellDef="let el")
                                mat-form-field(appearance="outline")
                                    mat-label Key
                                    input(matInput autocomplete="off" '[(ngModel)]'="newHyperParams.key")
                        ng-container(matColumnDef="values") 
                            mat-cell(*matCellDef="let el")
                                mat-form-field(appearance="outline")
                                    mat-label Value
                                    input(matInput autocomplete="off" '[(ngModel)]'="newHyperParams.values")
                        ng-container(matColumnDef="bts") 
                            mat-cell(*matCellDef="let el")
                                button(mat-flat-button color="primary" '(click)'="addHyperParams(el)" 
                                    style="position:relative; top: -5px;") Add Metadata
                        mat-row(*matRowDef="let row; columns: ['key', 'values','bts'];")




mixin metadata-params
    .metadata-params
        .section
            .section__body
                .simple-table
                    mat-table('[dataSource]'="hyperParamsDataSource" class="mat-table" multiTemplateDataRows) 
                        ng-container(matColumnDef="key") 
                            mat-header-cell(*matHeaderCellDef)  Key 
                            mat-cell(*matCellDef="let el") {{el.key}} 
                            mat-cell(*matCellDef="let el") 
                        ng-container(matColumnDef="edit") 
                            mat-cell(*matCellDef="let el") 
                                mat-form-field(appearance="outline")
                                    mat-label New Value
                                    input(matInput autocomplete="off" '[(ngModel)]'="currentEditHyperParams.newValues")
                        ng-container(matColumnDef="empty") 
                            mat-cell(*matCellDef="let el") 
                        ng-container(matColumnDef="done") 
                            mat-cell(*matCellDef="let el")
                                button(mat-flat-button color="primary" 
                                    '(click)'="updateHyperParams(el,$event)"
                                    style="position:relative; top: -5px;") Update
                        ng-container(matColumnDef="values") 
                            mat-header-cell(*matHeaderCellDef) Value 
                            mat-cell(*matCellDef="let el") {{el.values}} 
                        ng-container(matColumnDef="delete") 
                            mat-header-cell(*matHeaderCellDef) 
                            mat-cell(*matCellDef="let el" '(click)'="$event.stopPropagation()") 
                                button(mat-flat-button color="warn" '(click)'="deleteHyperParams(el)" title="Delete"): mat-icon delete
                        mat-header-row(*matHeaderRowDef="hyperParamsColumnsToDisplay")
                        mat-row.caption-row(
                            '[@editMetadataCaption]'="(currentEditHyperParams == row) ? 'expanded' : 'collapsed' " 
                            '*matRowDef'="let row; columns: hyperParamsColumnsToDisplay;" 
                            '(click)'="openEditHyperParams(row)"
                            '[class.picked-row]'="currentEditHyperParams == row")
                        mat-row.edit-row('[@editMetadataValue]'="(currentEditHyperParams == row) ? 'expanded' : 'collapsed' " '*matRowDef'="let row; columns: hyperParamsSecondColumnsToDisplay;") 




mixin metadata
    .metadata-sections(*ngIf='hyperParams')
        ct-section-caption Metadata
        ct-wrap-block(#metadataBlock)
            +default-metadata
            +metadata-new-param
            +metadata-params





mixin snippets
    .snippets-section(*ngIf='snippetResult')
        ct-section-caption Snippets
        .section
            .section__body
                ct-wrap-block(#snippetsBlock)
                    ct-cols
                        ct-col(size="6")
                            .flex.flex--jc_c.flex--ai_c('*ngIf'="!snippetsDataSource.filteredData.length" style="min-height:100%") Empty
                            .section('*ngIf'="snippetsDataSource.filteredData.length" style="margin:0")
                                .section__body
                                    .section__content
                                        .simple-table
                                            table(mat-table '[dataSource]'="snippetsDataSource" class="mat-table") 
                                                ng-container(matColumnDef="type") 
                                                    th(mat-header-cell *matHeaderCellDef) Type 
                                                    td(mat-cell *matCellDef="let el") {{el.type}} 
                                                ng-container(matColumnDef="code") 
                                                    th(mat-header-cell *matHeaderCellDef) Code 
                                                    td(mat-cell *matCellDef="let el") {{el.snippetCode}} 
                                                ng-container(matColumnDef="bts") 
                                                    th(mat-header-cell *matHeaderCellDef) 
                                                    td(mat-cell *matCellDef="let el") 
                                                        .buttons.buttons--right 
                                                            button(mat-flat-button color="warn" '(click)'="snippetDeleteCommit(el)" title="Delete"): mat-icon delete
                                                tr(mat-header-row *matHeaderRowDef="snippetsColumnsToDisplay")
                                                tr(mat-row *matRowDef="let row; columns: snippetsColumnsToDisplay;")         
            
            
                        ct-col(size="6")
                            .flex.flex--jc_c.flex--ai_c('*ngIf'="!snippetResult.selectOptions.length" style="min-height:100%") Empty
                            .section(style="margin:0" '*ngIf'="snippetResult.selectOptions.length")
                                .section__body
                                    .section__content
                                        mat-form-field
                                            mat-label Snippet
                                            mat-select([(ngModel)]="currentSnippetAddCommit")
                                                div(*ngFor="let snippet of snippetResult.selectOptions")
                                                    mat-option([value]="snippet") {{snippet.desc}}
                                    .section__content
                                        .buttons.buttons--right 
                                            button(mat-flat-button '(click)'="snippetAddCommit(currentSnippetAddCommit)" color="primary" title="Save") Add Snippet


    






mixin simple-experiment
    .simple-experiment-section(*ngIf='simpleExperiment')
        .section
            .section__header
                ct-section-caption Experiment {{simpleExperiment.name}} {{simpleExperiment.id}}
            .section__body
                ct-cols(align-items="baseline")
                    ct-col(size="7")
                        .section__content
                            mat-form-field(appearance="outline")
                                mat-label Name
                                input(matInput autocomplete="off" '[(ngModel)]'="simpleExperiment.name")
                                mat-hint This is a required field. 
                            mat-form-field(appearance="outline")
                                mat-label Description
                                textarea(matInput cdkTextareaAutosize cdkAutosizeMinRows="5" '[(ngModel)]'="simpleExperiment.description")
                                mat-hint This is a required field. 
                            mat-form-field(appearance="outline")
                                mat-label Experiment code
                                textarea(matInput cdkTextareaAutosize cdkAutosizeMinRows="5" '[(ngModel)]'="simpleExperiment.code")
                                mat-hint This is a required field. 
                            mat-form-field(appearance="outline")
                                mat-label Seed
                                input(matInput autocomplete="off" '[(ngModel)]'="simpleExperiment.seed")
                                mat-hint Default value will be used if not defined. Which is 1. 
                        .section__content
                            .buttons.buttons--right 
                                button(mat-stroked-button '(click)'="cancel()" title="Cancel")  Back
                                button(mat-flat-button '(click)'="updateSimpleExperiment($event)" color="primary" title="Save") Save
                    ct-col(size="5")
                        div(*ngIf="simpleExperimentResponse")
                            div STATUS: {{simpleExperimentResponse.status}}
                            br
                            div(*ngFor="let error of simpleExperimentResponse.errorMessages; index as i; trackBy: trackByFn") {{error}}



+simple-experiment
+snippets
+metadata
