div(*ngIf='experimentInfo')
	div 
		br
		|Progress of experiment — {{experimentInfo.workbookExecState}}
		br
		br
	ct-section-caption The experiment info
	include general-info.partial.pug
	br
	include hyper-parameters.partial.pug
	br
	include features.partial.pug
