.section
	.section__header
		ct-section-caption Edit Plan {{plan ? plan.id : ''}}
	.section__body
		.section__content('*ngIf'="currentState == states.firstLoading")
			mat-progress-bar(mode="indeterminate")
		.section__content('*ngIf'="[states.wait,states.show].includes(currentState)") 
			ct-cols(align-items="baseline")

				ct-col(size='6')
					mat-form-field(appearance="outline") 
						mat-label Code 
						input(matInput '[(ngModel)]'="plan.code" value="")
					mat-form-field(appearance="outline") 
						mat-label Parameters 
						textarea(matInput '[(ngModel)]'="plan.params" value="" cdkTextareaAutosize cdkAutosizeMinRows="10")
					.buttons.buttons--right 
						button(mat-stroked-button '(click)'="cancel()") Cancel
						button(mat-flat-button '(click)'="validate()" color="primary" 
							'[disabled]'="[states.wait,states.firstLoading].includes(currentState)") Validate
						button(mat-flat-button '(click)'="save()" color="primary"  
							'[disabled]'="[states.wait,states.firstLoading].includes(currentState)") Save

				ct-col(size='1')

				ct-col(size='5')
					div(*ngIf="response")
						p STATUS: {{response.status}}
						p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}

