<div class="body">
    <div class="body-header">
        <h1>Resources</h1>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    <mat-card class="plan-card">
        <table mat-table [dataSource]="dataSource" class="mat-table">
            <ng-container matColumnDef="isValid">
                <th mat-header-cell *matHeaderCellDef>Is Valid?</th>
                <td mat-cell *matCellDef="let el">{{el.isValid}}</td>
            </ng-container>
            <ng-container matColumnDef="uploadDate">
                <th mat-header-cell *matHeaderCellDef>Upload Date</th>
                <td mat-cell *matCellDef="let el">{{el.uploadDate}}</td>
            </ng-container>
            <ng-container matColumnDef="typeOfResource">
                <th mat-header-cell *matHeaderCellDef>Type Of Resource</th>
                <td mat-cell *matCellDef="let el">{{el.typeOfResource}}</td>
            </ng-container>
            <ng-container matColumnDef="checksum">
                <th mat-header-cell *matHeaderCellDef>Checksum</th>
                <td mat-cell *matCellDef="let el">{{el.checksum}}</td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Code</th>
                <td mat-cell *matCellDef="let el">{{el.code}}</td>
            </ng-container>
            <ng-container matColumnDef="poolCode">
                <th mat-header-cell *matHeaderCellDef>Pool Code</th>
                <td mat-cell *matCellDef="let el">{{el.poolCode}}</td>
            </ng-container>
            <ng-container matColumnDef="isManual">
                <th mat-header-cell *matHeaderCellDef>Is Manual</th>
                <td mat-cell *matCellDef="let el">{{el.isManual}}</td>
            </ng-container>
            <ng-container matColumnDef="filename">
                <th mat-header-cell *matHeaderCellDef>Filename</th>
                <td mat-cell *matCellDef="let el">{{el.filename}}</td>
            </ng-container>
            <ng-container matColumnDef="storageUrl">
                <th mat-header-cell *matHeaderCellDef>Storage Url</th>
                <td mat-cell *matCellDef="let el">{{el.storageUrl}}</td>
            </ng-container>
            <ng-container matColumnDef="bts">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let el">
                    <div class="buttons">
                        <button mat-flat-button color="warn">Delete</button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <div>
            <mat-paginator [pageSizeOptions]="[10]" hidePageSize></mat-paginator>
        </div>
    </mat-card>
    <div class="body-footer">
        <div></div>
        <div>
            <button mat-flat-button color="primary" routerLink="/launchpad/resources/add/">Create resource</button>
        </div>
    </div>
</div>