<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New processor record</h1>

        <!--/*@thymesVar id="processor" type="ai.metaheuristic.ai.dispatcher.beans.Processor"*/-->
        <form class="pure-form pure-form-stacked" th:object="${processor}" method="post" action="#" th:method="POST" th:action="@{/dispatcher/processor/processor-form-commit}" accept-charset="UTF-8" id="processor-form" name="f">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <fieldset>
                <label for="description">Description</label>
                <input name="description" id="description" type="text" placeholder="description"  th:field="*{description}">
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="processors.html" th:href="${'/dispatcher/processor/processors'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>