$mat-dark: (
    50 : #e3e4e4,
    100 : #babbba,
    200 : #8c8e8d,
    300 : #5e605f,
    400 : #3c3e3c,
    500 : #191c1a,
    600 : #161917,
    700 : #121413,
    800 : #0e110f,
    900 : #080908,
    A100 : #51ff51,
    A200 : #1eff1e,
    A400 : #00ea00,
    A700 : #00d000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

