$mat-light: (
    50 : #ecf1ee,
    100 : #cfddd5,
    200 : #afc6ba,
    300 : #8eaf9e,
    400 : #769e89,
    500 : #5e8d74,
    600 : #56856c,
    700 : #4c7a61,
    800 : #427057,
    900 : #315d44,
    A100 : #d9ead3,
    A200 : #b6d7a8,
    A400 : #93c47d,
    A700 : #6aa84f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

