.section
    .section__header
        ct-section-caption New Account
    .section__body
        ct-cols(align-items="baseline")
            ct-col(size="6")
                form('[formGroup]'="form" novalidate)
                    .section__content
                        mat-form-field(appearance="outline")
                            mat-label Username
                            input(type="text" matInput autocomplete="off" formControlName="username")
                            //- mat-hint This is a required field.
                    .section__content
                        mat-form-field(appearance="outline")
                            mat-label Password
                            input(type="password" matInput autocomplete="off" formControlName="password")
                            //- mat-hint This is a required field.
                    .section__content
                        mat-form-field(appearance="outline")
                            mat-label Password again
                            input(type="password" matInput autocomplete="off" formControlName="password2")
                            //- mat-hint This is a required field.
                    .section__content
                        mat-form-field(appearance="outline")
                            mat-label Public name
                            input(type="text" matInput autocomplete="off" formControlName="publicName")
                            //- mat-hint This is a required field.
                        .buttons.buttons--right 
                            button(mat-stroked-button routerLink="/launchpad/accounts/") Cancel
                            button(mat-flat-button '(click)'="create()" color="primary" '[disabled]'="currentStates.has(states.wait) || form.invalid") Create
            ct-col(size="1")
            ct-col(size="5")
                div
                    div(*ngIf="response")
                        p STATUS: {{response.status}}
                        p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}





