:host {
    padding: 0 8px;
    flex-shrink: 0;
    // overflow: hidden;
}

:host[size='1'] {
    width: calc( (100% / 12) * 1);
}

:host[size='2'] {
    width: calc( (100% / 12) * 2);
}

:host[size='3'] {
    width: calc( (100% / 12) * 3);
}

:host[size='4'] {
    width: calc( (100% / 12) * 4);
}

:host[size='5'] {
    width: calc( (100% / 12) * 5);
}

:host[size='6'] {
    width: calc( (100% / 12) * 6);
}

:host[size='7'] {
    width: calc( (100% / 12) * 7);
}

:host[size='8'] {
    width: calc( (100% / 12) * 8);
}

:host[size='9'] {
    width: calc( (100% / 12) * 9);
}

:host[size='10'] {
    width: calc( (100% / 12) * 10);
}

:host[size='11'] {
    width: calc( (100% / 12) * 11);
}

:host[size='12'] {
    width: calc( (100% / 12) * 12);
}
