<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-batch}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>

    <!--/*@thymesVar id="companyUniqueId" type="java.lang.Long"*/-->
<script>
        var table = function (html) {
            $('#table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            // is this the right usage?
            $.post('/launchpad/company/batch/company-batches-part/' + [[${companyUniqueId}]] , table);
        });

    </script>

    <h1 class="widget-header">Workbooks</h1>

    <a sec:authorize="hasAnyRole('MASTER_OPERATOR')" class="pure-button pure-button-primary" href="company-batch-add.html" th:href="${'/launchpad/company/batch/company-batch-add/'+companyUniqueId}">Upload files and start processing</a>
    <p></p>

    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr th:align="center">
            <th>#</th>
            <th>Created on</th>
            <th>Is batch consistent?</th>
            <th>Is deleted?</th>
            <th>
                <div class="no-wrap">Plan code</div>
                <div class="no-wrap">File name</div>
            </th>
            <th>Exec state</th>
            <th colspan="4">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="result" type="ai.metaheuristic.ai.launchpad.data.BatchData$BatchesResult"*/-->
        <tr th:each="r : ${result.batches}">
            <td th:text="${r.batch.id}">#Id</td>
            <td th:text="${#dates.format(r.batch.createdOn, 'dd-MMM-yy HH:mm')}">CreatedOn</td>
            <td>
               <p th:if="${r.ok}" class="info-msg" >OK</p>
               <p th:if="${!r.ok}" class="error-msg" >Error</p>
            </td>
            <td th:text="${r.batch.deleted}">Is deleted</td>
            <td>
                <div th:text="${r.planCode}" class="no-wrap">Plan code</div>
                <div th:text="${r.uploadedFileName}" class="no-wrap">File name</div>
            </td>
            <td th:text="${r.execStateStr}">Exec state as string</td>
            <td><a sec:authorize="hasAnyRole('MASTER_OPERATOR')" th:if='${r.batch.deleted}' class="pure-button pure-button-primary"
                   th:href="${'/launchpad/company/batch/company-batch-delete/'+companyUniqueId + '/' + r.batch.id}">Delete</a></td>

            <td>
                <a class="pure-button pure-button-primary"
                   target="_blank"
                   th:href="${'/launchpad/company/batch/company-batch-download-result/'+companyUniqueId + '/' + r.batch.id + '/result.zip'}">Download result</a></td>

            <td><a class="pure-button pure-button-primary"
                   th:href="${'/launchpad/company/batch/company-batch-status/'+companyUniqueId + '/' + r.batch.id}">Status</a></td>

            <td><a class="pure-button pure-button-primary"
                   th:href="${'/launchpad/company/batch/company-batch-download-origin-file/'+companyUniqueId + '/' + r.batch.id + '/origin-file.zip'}">Download origin file</a></td>
        </tr>
        <tr>
            <td colspan="10">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.batches.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.batches.first}'
                               th:href="@{/launchpad/company/batch/company-batches-part/{companyUniqueId}(page=0,size=${result.batches.pageable.pageSize},companyUniqueId=${companyUniqueId})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.batches.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.batches.hasPrevious()}'
                               th:href="@{/launchpad/company/batch/company-batches-part/{companyUniqueId}(page=${result.batches.pageable.pageNumber - 1},size=${result.batches.pageable.pageSize},companyUniqueId=${companyUniqueId})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.batches.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.batches.hasNext()}'
                               th:href='@{/launchpad/company/batch/company-batches-part/{companyUniqueId}(page=${result.batches.pageable.pageNumber + 1},size=${result.batches.pageable.pageSize},companyUniqueId=${companyUniqueId})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a class="pure-button pure-button-primary" href="../companies.html" th:href="${'/launchpad/company/companies'}">To companies</a>

</div>
