ct-section-caption Features
.simple-table
    table(mat-table [dataSource]="tables.features.table") 
        ng-container(matColumnDef="id") 
            th(mat-header-cell *matHeaderCellDef) Id 
            td(mat-cell *matCellDef="let el") {{el.id}} 
        ng-container(matColumnDef="setOfFeatures") 
            th(mat-header-cell *matHeaderCellDef) Set of Features 
            td(mat-cell *matCellDef="let el") {{el.setOfFeatures}} 
        ng-container(matColumnDef="execStatus") 
            th(mat-header-cell *matHeaderCellDef) Exec Status 
            td(mat-cell *matCellDef="let el") {{el.execStatus}} 
        ng-container(matColumnDef="maxValue") 
            th(mat-header-cell *matHeaderCellDef) Value 
            td(mat-cell *matCellDef="let el") {{el.maxValue}} 
        ng-container(matColumnDef="bts") 
            th(mat-header-cell *matHeaderCellDef)  
            td(mat-cell *matCellDef="let el") 
                button(mat-flat-button '[routerLink]'="['/launchpad/experiments/',experiment.id,'feature-progress',el.id]" color="primary" title="") Info         
        tr(mat-header-row *matHeaderRowDef="tables.features.columnsToDisplay") 
        tr(mat-row *matRowDef="let row; columns: tables.features.columnsToDisplay;") 
