<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <!--/*@thymesVar id="result" type="ai.metaheuristic.api.data.source_code.SourceCodeApiData$SourceCodeResult"*/-->
    <div sec:authorize="isAuthenticated()">
        <p th:text="${'Source code: ' + result.uid}"></p>
        <p>&nbsp;</p>


        <h1 class="widget-header">New execContext with single input</h1>

        <form class="pure-form pure-form-stacked" action="#" th:method="POST" th:action="@{/dispatcher/source-code/exec-context-add-commit}" accept-charset="UTF-8" id="execContext-add-form" name="f">
            <input type="hidden" name="sourceCodeId" th:value="${result.id}"/>
            <fieldset>
                <p>&nbsp;</p>
                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="exec-contexts.html" th:href="${'/dispatcher/source-code/exec-contexts/' + result.id}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>

        <p>&nbsp;</p>



    </div>
</div>