<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:fragment="content"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <!--/*@thymesVar id="result" type="ai.metaheuristic.api.data.exec_context.ExecContextApiData$ExecContextStateResult"*/-->
    <h1 class="widget-header">State of tasks</h1>

    <p th:text="${'Source code UID: ' + result.sourceCodeUid}"></p>
    <p th:text="${'Source code is valid: ' + result.sourceCodeValid}"></p>
    <div th:remove="tag" th:if="${result.taskStateInfos!=null}">
        <table class="pure-table pure-table-bordered" id="exec-state-table">
            <thead>
            <tr>
                <th><div class="no-wrap">ExecState of tasks</div></th>
                <th><div class="no-wrap">Count of tasks</div></th>
            <tr>
            </thead>

            <tbody>
            <tr th:each="l : ${result.taskStateInfos.taskInfos}">
                <td th:text="${l.execState}">State</td>
                <td th:text="${l.count}">State</td>
            </tr>
            </tbody>
        </table>
        <p th:if="${result.taskStateInfos.nonLongRunning.lastTaskFinished!=null}" th:text="${'The last task was finished on: ' + #dates.format(result.taskStateInfos.nonLongRunning.lastTaskFinished, 'dd-MMM-yy HH:mm')}">lastTaskFinished</p>
        <p th:if="${result.taskStateInfos.nonLongRunning.lastTaskFinished==null}">There isn't any finished task</p>
        <p th:text="${'Non-long-running tasks in progress: ' + result.taskStateInfos.nonLongRunning.inProgressCount}"></p>
    </div>
    <p>&nbsp;</p>

    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <div th:remove="tag" th:each="h : ${result.header}">
                <td>
                    <div th:text="${h.process}" class="no-wrap">Process</div>
                    <div th:text="${h.functionCode}" class="no-wrap">Function code</div>
                </td>
            </div>
        <tr>
        </thead>
        <tbody>
        <tr th:each="l : ${result.lines}">
            <td>
                <div th:text="${l.context}" class="no-wrap">Context</div>
            </td>
            <div th:remove="tag" th:each="c : ${l.cells}">
                <td th:if="${c.empty}" th:text="${''}">Empty cell</td>
                <td th:if="${!c.empty}">
                    <div th:text="${c.taskId +', ' + c.state}" class="no-wrap">State</div>

                    <div th:if="${c.outs!=null && c.state!=T(ai.metaheuristic.api.EnumsApi.TaskExecState).ERROR.toString()}" th:remove="tag" th:each="o : ${c.outs}">
                        <div class="no-wrap">
                            <a href="#" th:if="${!o.nullified}" th:href="${'/dispatcher/source-code/exec-context/'+result.execContextId+'/download-variable/' + o.id}"
                               th:text="${o.id+', ' + o.name}">Download var</a>
                            <div th:if="${o.nullified}" th:text="${o.id+', ' + o.name+', is null'}" class="no-wrap">Variable is null</div>
                        </div>
                    </div>
                    <div class="no-wrap" th:if="${c.state==T(ai.metaheuristic.api.EnumsApi.TaskExecState).ERROR.toString()}">
                        <a href="#" th:href="${'/dispatcher/source-code/exec-context-task-exec-info/'+result.sourceCodeId+'/'+result.execContextId+'/' +c.taskId}"
                           th:text="${'Task exec info'}">Task exec info</a>
                    </div>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
    <p></p>

    <a class="pure-button pure-button-primary" href="exec-contexts.html" th:href="${'/dispatcher/source-code/exec-contexts/' + result.sourceCodeId}">To exec context</a>

</div>
