<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:fragment="content"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <!--/*@thymesVar id="result" type="ai.metaheuristic.api.data.source_code.SourceCodeApiData$ExecContextsResult"*/-->
    <script>
        var table = function (html) {
            $('#table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $.post('/dispatcher/source-code/exec-contexts-part/'+ [[${result.currentSourceCodeId}]] , table);
        });

    </script>

    <h1 class="widget-header">Exec contexts</h1>

    <a class="pure-button pure-button-primary" href="exec-context-add.html"
       th:href="${'/dispatcher/source-code/exec-context-add/' + result.currentSourceCodeId}">Add new exec context</a>
    <p></p>

    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Source code UID</th>
<!--            <th>Input pool codes</th>-->
            <th>Created on</th>
            <th>Is sourceCode valid</th>
            <th>Is execContext valid</th>
            <th>Exec state</th>
            <th>Completed on</th>
            <th colspan="3">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${result.instances}">
            <td th:text="${i.id}">#Id</td>
            <td th:text="${result.sourceCodes.get(i.id).uid}">Source code UID</td>
<!--            <td><pre th:text="${i.params}">Params</pre></td>-->
            <td th:text="${#dates.format(i.createdOn, 'dd-MMM-yy HH:mm')}">Created on</td>
            <td th:text="${result.sourceCodes.get(i.id).valid}">Is sourceCode valid</td>
            <td th:text="${i.valid}">Is execContext valid</td>
            <td th:text="${T(ai.metaheuristic.api.EnumsApi.ExecContextState).from(i.state)}">State</td>
            <td th:text="${#dates.format(i.completedOn, 'dd-MMM-yy HH:mm')}">Completed on</td>
            <td>
                <a class="pure-button pure-button-primary"
                   th:if="${i.state==T(ai.metaheuristic.api.EnumsApi.ExecContextState).NONE.code and
                   i.valid and
                   result.sourceCodes.get(i.id).valid
                   }"
                   th:href="${'/dispatcher/source-code/exec-context-target-state/'+i.sourceCodeId+'/PRODUCING/' + i.id}">Produce</a>
                <a class="pure-button pure-button-primary"
                   th:if="${i.state==T(ai.metaheuristic.api.EnumsApi.ExecContextState).PRODUCED.code or
                   i.state==T(ai.metaheuristic.api.EnumsApi.ExecContextState).STOPPED.code}"
                   th:href="${'/dispatcher/source-code/exec-context-target-state/'+i.sourceCodeId+'/started/' + i.id}">Start</a>
                <a class="pure-button pure-button-primary"
                   th:if="${i.state==T(ai.metaheuristic.api.EnumsApi.ExecContextState).STARTED.code}"
                   th:href="${'/dispatcher/source-code/exec-context-target-state/'+i.sourceCodeId+'/stopped/' + i.id}">Stop</a>
            </td>
            <td><a class="pure-button pure-button-primary"
                   th:if="${not i.valid}"
                   th:href="${'/dispatcher/source-code/exec-context-validate/' + i.id}">Validate</a></td>
            <td><a class="pure-button pure-button-primary" th:href="${'/dispatcher/source-code/exec-context-delete/'+i.sourceCodeId+'/' + i.id}">Delete</a></td>
        </tr>
        <tr>
            <td colspan="11">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.instances.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.instances.first}'
                               th:href="@{/dispatcher/source-code/exec-contexts-part/{id}(id=${result.currentSourceCodeId},page=0,size=${result.instances.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.instances.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.instances.hasPrevious()}'
                               th:href="@{/dispatcher/source-code/exec-contexts-part/{id}(id=${result.currentSourceCodeId},page=${result.instances.pageable.pageNumber - 1},size=${result.instances.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.instances.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.instances.hasNext()}'
                               th:href="@{/dispatcher/source-code/exec-contexts-part/{id}(id=${result.currentSourceCodeId},page=${result.instances.pageable.pageNumber + 1},size=${result.instances.pageable.pageSize})}" title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>

    <a class="pure-button pure-button-primary" href="source-codes.html" th:href="${'/dispatcher/source-code/source-codes'  }">To source codes</a>

</div>
