<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:fragment="content"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <!--/*@thymesVar id="result" type="ai.metaheuristic.api.data.exec_context.ExecContextApiData$ExecContextStateResult"*/-->
    <h1 class="widget-header">State of tasks</h1>

    <p th:text="${'Source code UID: ' + result.sourceCodeUid}"></p>
    <p th:text="${'Source code is valid: ' + result.sourceCodeValid}"></p>
    <p th:text="${'Source code type: ' + result.sourceCodeType}"></p>

    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <div th:remove="tag" th:each="h : ${result.header}">
                <th th:text="${h}">header cell</th>
            </div>
        <tr>
        </thead>
        <tbody>
        <tr th:each="l : ${result.lines}">
            <td>
                <div th:text="${l.lineHeader.process}" class="no-wrap">Process</div>
                <div th:text="${l.lineHeader.functionCode}" class="no-wrap">Function code</div>
            </td>
            <div th:remove="tag" th:each="c : ${l.cells}">
                <td th:if="${c.empty}" th:text="${''}">Empty cell</td>
                <td th:if="${!c.empty}" th:text="${c.state}">Cell with value</td>
            </div>
        </tr>
        </tbody>
    </table>
    <p></p>

    <a class="pure-button pure-button-primary" href="exec-contexts.html" th:href="${'/dispatcher/source-code/exec-contexts/' + result.sourceCodeId}">To exec context</a>

</div>
