<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Edit the source code</h1>

        <!--/*@thymesVar id="sourceCode" type="ai.metaheuristic.ai.dispatcher.beans.SourceCodeImpl"*/-->
        <form class="pure-form pure-form-stacked" method="post" action="#" th:method="POST" th:action="@{/dispatcher/source-code/source-code-edit-commit}" accept-charset="UTF-8" id="processor-form" name="f">
            <input type="hidden" name="sourceCodeId" th:value="${sourceCode.id}"/>
            <fieldset>

                <label for="sourceCodeYamlAsStr">Parameters of sourceCode</label>
                <textarea name="sourceCodeYamlAsStr" id="sourceCodeYamlAsStr" placeholder="Parameters of source code" cols="70" rows="15"
                          th:text="${sourceCodeYamlAsStr}" maxlength="10000"></textarea>
                <span class="pure-form-message">This is a required field.</span>

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="#" th:href="${'/dispatcher/source-code/source-code-validate/' + sourceCode.id}">Validate</a>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="source-codes.html" th:href="${'/dispatcher/source-code/source-codes'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>