<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <!--/*@thymesVar id="result" type="ai.metaheuristic.ai.dispatcher.data.SourceCodeData$Development"*/-->
    <h1 class="widget-header">Processes of Source code</h1>
    <p th:text="${'Source code UID: ' + result.sourceCodeUid}"></p>

    <table class="pure-table pure-table-bordered" id="table">
        <thead>
        <tr>
            <th>Code of process</th>
            <th>Functions</th>
            <th colspan="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${result.processes}">
            <td th:text="${i.code}">Code of process</td>
            <td>
                <table class="pure-table pure-table-bordered" id="pre-functions-table" th:if="${!i.preFunctions.isEmpty()}" width="100%">
                    <thead><tr><th>Pre functions</th></tr></thead>
                    <tbody>
                    <div th:each="f : ${i.preFunctions}" th:remove="tag">
                        <tr><td th:text="${f}">Pre function</td></tr>
                    </div>
                    </tbody>
                </table>
                <table class="pure-table pure-table-bordered" id="function-table" width="100%">
                    <thead><tr><th>Function</th></tr></thead>
                    <tbody>
                    <tr><td th:text="${i.function}">Function</td></tr>
                    </tbody>
                </table>
                <table class="pure-table pure-table-bordered" id="post-functions-table" th:if="${!i.postFunctions.isEmpty()}" width="100%">
                    <thead><tr><th>Post functions</th></tr></thead>
                    <tbody>
                    <div th:each="f : ${i.postFunctions}" th:remove="tag">
                        <tr><td th:text="${f}">Post function</td></tr>
                    </div>
                    </tbody>
                </table>
            </td>
            <td><a class="pure-button pure-button-primary" th:href="${'/dispatcher/source-code/source-code-dev-generate/'+result.sourceCodeId+'/' + i.code}">Generate</a></td>
        </tr>
        </tbody>
    </table>
    <p></p>

    <a class="pure-button pure-button-primary" href="source-codes.html" th:href="${'/dispatcher/source-code/source-codes'  }">To source codes</a>

</div>