<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:fragment="content"
     layout:decorate="~{layout-dispatcher}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>

    <script>
        var table = function (html) {
            $('#table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $.post('/dispatcher/source-code/source-codes-part', table);
        });

    </script>

    <!--/*@thymesVar id="result" type="ai.metaheuristic.api.data.source_code.SourceCodeApiData$SourceCodesResult"*/-->
    <h1 class="widget-header">Source codes</h1>

    <a class="pure-button pure-button-primary" href="source-code-add.html" th:href="@{/dispatcher/source-code/source-code-add}"
       th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}"
    >Add new sourceCode</a>
    <p class="alert alert-info" th:if="${result.assetMode==T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
        Creation of sourceCodes is disabled, assetMode is 'replicated'.</p>
    <p></p>


    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>UID of sourceCode</th>
            <th>Type</th>
            <th>Created on</th>
            <th>Is valid?</th>
            <th th:colspan="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated} ? 4 : 3">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${result.items}">
            <td th:text="${f.id}">#Id</td>
            <td th:text="${f.uid}">UID of sourceCode</td>
            <td th:text="${result.getType(f.uid)}">Type</td>
            <td th:text="${#dates.format(f.createdOn, 'dd-MMM-yy HH:mm')}">Created on</td>
            <td th:text="${f.valid}">Is valid?</td>
            <td>
                <a class="pure-button pure-button-primary" th:href="${'/dispatcher/source-code/source-code-view/' + f.id}">View</a></td>
            <td th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
                <a class="pure-button pure-button-primary" th:href="${'/dispatcher/source-code/source-code-delete/' + f.id}">Delete</a></td>
            <td th:if="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated}">
                <a class="pure-button pure-button-primary" th:href="${'/dispatcher/source-code/source-code-archive/' + f.id}">To archive</a></td>
            <td><a class="pure-button pure-button-primary" th:href="${'/dispatcher/source-code/exec-contexts/' + f.id}">Exec contexts</a></td>
        </tr>
        <tr>
            <td th:colspan="${result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).replicated} ? 10 : 8">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.items.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.items.first}'
                               th:href="@{/dispatcher/source-code/source-codes-part(page=0,size=${result.items.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasPrevious()}'
                               th:href="@{/dispatcher/source-code/source-codes-part(page=${result.items.pageable.pageNumber - 1},size=${result.items.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasNext()}'
                               th:href='@{/dispatcher/source-code/source-codes-part(page=${result.items.pageable.pageNumber + 1},size=${result.items.pageable.pageSize})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
