.plan-card {
  width: 100%;
  max-width: 500px;
  margin: 16px auto;
}

mat-form-field {
  width: 100%;
}

textarea {
  padding: 0;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

button {
  margin: 0 8px;
}

