<div layout:fragment="content" layout:decorate="~{layout-batch}"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
>
    <div>
        <h1 class="widget-header" th:text="${'Status of execution of batch #' + batchId}"></h1>

        <p>Status:</p>
        <pre style="width:100%" th:text="${console}"></pre>

        <p>&nbsp;</p>
        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#"
                          th:method="post" th:action="@{/dispatcher/batch/batch-delete-commit}"
                          accept-charset="UTF-8"
                          id="execContext-delete-commit"
                          name="f">
                        <input type="hidden" th:name="batchId" th:value="${batchId}"/>
                            <button type="submit" class="pure-button pure-button-primary">Delete</button>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <a class="pure-button pure-button-primary" href="batches.html" th:href="${'/dispatcher/batch/batches'}">To list of batches</a>
                </td>
            </tr>
        </table>


    </div>
</div>