<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-batch}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled')) and result.assetMode!=T(ai.metaheuristic.api.EnumsApi.DispatcherAssetMode).source}"
>
    <script>
        'use strict';

        let /*boolean*/ isFilterBatches = false;

        function switchStatus() {
            isFilterBatches = isFilterBatches===false;
            $(getBatchesAjax());

            return false;
        }

        var table = function (html) {
            $('#table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href')+'filterBatches='+isFilterBatches, table);
                    return false;
                });
            });
        };

        function getBatchesAjax() {
            return function () {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $(document).ajaxSend(function (e, xhr, options) {
                    xhr.setRequestHeader(header, token);
                });
                // is this the right usage?
                $.post('/dispatcher/batch/batches-part?filterBatches='+isFilterBatches, table);
            };
        }

        $(getBatchesAjax());

    </script>

    <h1 class="widget-header">Exec contexts</h1>

    <a class="pure-button pure-button-primary" href="batch-add.html" th:href="@{/dispatcher/batch/batch-add}">Upload files and start processing</a>
    <p></p>

    <div class="pure-controls">
        <label for="show-status" class="pure-checkbox">
            <input id="show-status" type="checkbox" onclick="switchStatus();"/>
            Show only my batches
        </label>
    </div>

    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr th:align="center">
            <th>
                <div class="no-wrap">Batch ##</div>
                <div class="no-wrap">EC ##</div>
            </th>
            <th>Created on</th>
            <th>Owner's username</th>
            <th>Is batch consistent?</th>
            <th>
                <div class="no-wrap">Source code</div>
                <div class="no-wrap">File name</div>
            </th>
            <th>Exec state</th>
            <th colspan="1">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        <!--/*@thymesVar id="result" type="ai.metaheuristic.ai.dispatcher.data.BatchData$BatchesResult"*/-->
        <tr th:each="r : ${result.batches}">
            <td>
                <div th:text="${r.batch.id}" class="no-wrap">Batch ##</div>
                <div th:text="${r.batch.execContextId}" class="no-wrap">EC ##</div>
            </td>
            <td th:text="${#dates.format(r.batch.createdOn, 'dd-MMM-yy HH:mm')}">CreatedOn</td>
            <td th:text="${r.username}">Owner's username</td>
            <td>
               <p th:if="${r.ok}" class="info-msg" >OK</p>
               <p th:if="${!r.ok}" class="error-msg" >Error</p>
            </td>
            <td>
                <div th:text="${r.sourceCodeUid}" class="no-wrap">Source code</div>
                <div th:text="${r.uploadedFileName}" class="no-wrap">File name</div>
            </td>
            <td th:text="${r.execStateStr}">Exec state as string</td>
            <td class="no-wrap"><a class="pure-button pure-button-primary"
                   th:href="${'/dispatcher/batch/batch-delete/' + r.batch.id}">Delete</a>
                &nbsp;
                <a th:if="${r.finished()}" class="pure-button pure-button-primary"
                   target="_blank"
                   th:href="${'/dispatcher/batch/batch-download-result/' + r.batch.id + '/result.zip'}">Download result</a>
                &nbsp;
                <a th:if="${r.finished()}" class="pure-button pure-button-primary"
                   th:href="${'/dispatcher/batch/batch-status/' + r.batch.id}">Status</a>
            </td>
        </tr>
        <tr>
            <td colspan="9">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.batches.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.batches.first}'
                               th:href="@{/dispatcher/batch/batches-part(page=0,size=${result.batches.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.batches.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.batches.hasPrevious()}'
                               th:href="@{/dispatcher/batch/batches-part(page=${result.batches.pageable.pageNumber - 1},size=${result.batches.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.batches.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.batches.hasNext()}'
                               th:href='@{/dispatcher/batch/batches-part(page=${result.batches.pageable.pageNumber + 1},size=${result.batches.pageable.pageSize})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
