ct-cols
    ct-col
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading(style="white-space: nowrap;") Metrics as the table
            ct-section-body(*ngIf="metricsResult")
                ct-section-body-row
                    ct-table
                        table(mat-table '[dataSource]'="dataSource") 
                            ng-container(matColumnDef="values") 
                                th(mat-header-cell *matHeaderCellDef) {{metricsResult.metricNames}} 
                                td(mat-cell *matCellDef="let el") {{el.values}} 
                            ng-container(matColumnDef="params") 
                                th(mat-header-cell *matHeaderCellDef) Hyper Params 
                                td(mat-cell *matCellDef="let el") {{el.params}} 
                            tr(mat-header-row *matHeaderRowDef="columnsToDisplay") 
                            tr(mat-row *matRowDef="let row; columns: columnsToDisplay;") 
    ct-col(style="flex:1")
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading(style="white-space: nowrap;") ...as the graph
            ct-section-body
                ct-section-body-row
                    ct-flex(justify-content="center")
                        ct-flex-item: button(mat-flat-button color="primary" '[disabled]'="!canDraw" '(click)'="drawPlot()") Draw Plot 
                ct-section-body-row(*ngIf="dataGraph.show")
                    .graph
                        plotly-plot('[data]'="dataGraph.data" '[config]'="dataGraph.config" '[layout]'="dataGraph.layout" '[useResizeHandler]'="true" '[style]'="{position: 'relative', width: '100%', height: '100%'}")

