.graph {
    position: relative;
    overflow: hidden;

    >* {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        content: '';
        padding-bottom: 100%;
        display: block;
        width: 100%;
    }
}