:host {
    display: block; 
    width: 100%;    
    letter-spacing: 0.1em;
    font-size: 24px;
    line-height: 1.4;
    border-bottom: 1px solid rgba(0,0,0,1);
    font-family: 'Roboto Condensed', sans-serif;
}