<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     layout:decorate="~{/layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Station</h1>

        <p class="error-msg" th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></p>
        <p th:if="${#strings.isEmpty(errorMessage)}">&nbsp;</p>

        <!--/*@thymesVar id="station" type="aiai.ai.beans.Station"*/-->
        <!--<form class="pure-form pure-form-stacked" th:object="${station}" method="post" action="#" th:method="POST" th:action="@{/launchpad/station-form-commit}" accept-charset="UTF-8" id="station-form" name="f">-->
        <form class="form-horizontal" th:object="${station}">
            <div class="form-group">
                <label class="col-sm-2 control-label">Station IP:</label>
                <div class="col-sm-10">
                    <input name="ip" id="ip" type="text" placeholder="IP address" th:field="*{ip}" th:disabled="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input name="description" id="description" type="text" placeholder="Description" th:field="*{description}" th:disabled="true"/>
                </div>
            </div>
        </form>

        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#" th:object="${station}" th:method="post" th:action="@{/launchpad/station-delete-commit}"
                          accept-charset="UTF-8"
                          id="station-delete-commit"
                          name="f">
                        <input type="hidden" th:field="*{id}"/>
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Delete</button>
                        </fieldset>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <form class="pure-form pure-form-stacked" method="get" action="#" th:method="get" th:action="@{/launchpad/stations}" accept-charset="UTF-8" id="station-delete-cancel" name="f">
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Cancel</button>
                        </fieldset>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>