<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<section layout:fragment="content">

    <div id="content-inner-inner" class="content-inner-inner inner">
        <div id="content-content" class="content-content">
            <div id="node-28" class="node even teaser node-type-story">
                <div class="inner">

                    <h2 class="title">Project AiAi</h2>

                    <div class="content clearfix">
                        <p>The main objective of that project is to innovate the new
                            approach in the relationship between businesses and saving the nature. </p>
                        <p>In present time we know many companies, which use the images of the
                            nature (i.e. flora, fauna, name of geo locations), make donations for
                            saving of the nature. The most known program is saving tigers program.
                            But there are a lot of company, that use emotional relationship between
                            people and nature for marketing their services and goods, and don't care
                            about of helping to the nature.</p>
                    </div>


                </div><!-- /inner -->

            </div><!-- /node-28 -->


        </div><!-- /content-content -->
    </div><!-- /content-inner-inner -->

</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>

</html>