<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div>

    <!--<sec:authorize access="isAnonymous()">-->
        <div id="block-locale-0" class="block block-locale odd first grid16-16">
            <div class="inner clearfix">
                <h2 class="title block-title">Language</h2>
                <div class="content clearfix">
                    <ul>
                        <li class="en first active">
                            <div th:replace="footer(label='English', locale='en')"/>
                            <!--<util:language-at-right label="English" locale="en"/>-->
                        </li>
                        <li class="ru last">
                            <div th:replace="footer(label='Русский', locale='ru')"/>
                            <!--<util:language-at-right label="Русский" locale="ru"/>-->
                        </li>
                    </ul>
                </div>

            </div><!-- /block-inner -->
        </div><!-- /block -->
    <!--</sec:authorize>-->
</div>