<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:if="${#httpServletRequest.requestURI != '/login'}">
    <div sec:authorize="isAnonymous()">
        <h1 class="widget-header">Sign in</h1>

        <form class="pure-form pure-form-stacked" method="post" action="#" th:method="POST" th:action="@{/jssc}" accept-charset="UTF-8" id="user-login" name="f">
            <fieldset>
                <label for="j_username">Login</label>
                <input name="j_username" id="j_username" type="text" placeholder="Login"/>
                <span class="pure-form-message">This is a required field.</span>

                <label for="j_password">Password</label>
                <input name="j_password" id="j_password" type="password" placeholder="Password">
                <span class="pure-form-message">This is a required field.</span>

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <label for="remember" class="pure-checkbox">
                    <input id="remember" type="checkbox"/>
                    Remember me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
</div>

<!--
<div xmlns:th="http://www.thymeleaf.org"
     xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:sec="http://www.springframework.org/security/tags"
     version="2.0">

    <sec:authorize access="isAnonymous()">

        <spring:message code="security_login_title" htmlEscape="false" var="title_login"/>

        <div id="block-user-0" class="block block-user even  last grid16-16">
            <div class="inner clearfix">
                <h2 class="title block-title">${title_login}</h2>
                <div class="content clearfix">

                    <spring:url value="/jssc" var="form_url"/>
                    <spring:message code="form_field_requeired" var="form_field_requeired"/>

                    <div id="content-content" class="content-content">
                        <form action="${fn:escapeXml(form_url)}" accept-charset="UTF-8" method="post" id="user-login" name="f">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <div>
                                <div class="form-item" id="edit-name-wrapper">
                                    <label for="j_username"><spring:message code="security_login_form_username"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                    <input maxlength="60" name="j_username" id="j_username" size="60" value="" class="form-text required" type="text"/>
                                    <div class="description"><spring:message code="label_login_input_username"/></div>
                                </div>
                                <div class="form-item" id="edit-pass-wrapper">
                                    <label for="j_password"><spring:message code="security_login_form_password"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                    <input name="j_password" id="j_password" maxlength="128" size="60" class="form-text required" type="password"/>
                                    <div class="description"><spring:message code="label_login_input_password"/></div>
                                </div>
                                <spring:message code="button_submit" htmlEscape="false" var="submit_label"/>
                                <input id="proceed" type="submit" value="${fn:escapeXml(submit_label)}"/>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </sec:authorize>

</div>
-->
