<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<section layout:fragment="content">

    <div>

        <!--<sec:authorize access="isAnonymous()">-->
            <spring:message code="label_sign_up" htmlEscape="false" var="title_sign_up" />
            <spring:message code="security_login_title" htmlEscape="false" var="title_login"/>
            <spring:message code="label_forgot_password" htmlEscape="false" var="title_forgot_password"/>

            <div id="content-region-inner" class="content-region-inner inner">
                <div id="content-tabs" class="content-tabs block">
                    <div id="content-tabs-inner" class="content-tabs-inner inner clearfix">
                        <ul class="tabs primary">
                            <li><a href="signup">${title_sign_up}</a></li>
                            <li class="active"><a href="login" class="active">${title_login}</a></li>
                            <li><a href="forgot">${title_forgot_password}</a></li>
                        </ul>
                    </div><!-- /content-tabs-inner -->
                </div><!-- /content-tabs -->

                <div id="content-inner" class="content-inner block">
                    <div id="content-inner-inner" class="content-inner-inner inner">
                        <h1 class="title">${title_login}</h1>
                        <div id="content-content" class="content-content">
                            <c:if test="${not empty param.login_error}">
                                <div class="errors">
                                    <p>
                                        <spring:message code="security_login_unsuccessful"/>
                                        <c:out value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>
                                        .
                                    </p>
                                </div>
                            </c:if>
                            <c:if test="${empty param.login_error}">
                                <p><spring:message code="security_login_message"/></p>
                            </c:if>
                            <spring:url value="/jssc" var="form_url"/>
                            <spring:message code="form_field_requeired" var="form_field_requeired"/>

                            <div id="content-content" class="content-content">
                                <form action="${fn:escapeXml(form_url)}" accept-charset="UTF-8" method="post" id="user-login" name="f">
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <div>
                                        <div class="form-item" id="edit-name-wrapper">
                                            <label for="j_username"><spring:message code="security_login_form_username"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                            <input maxlength="60" name="j_username" id="j_username" size="60" value="" class="form-text required" type="text"/>
                                            <div class="description"><spring:message code="label_login_input_username"/></div>
                                        </div>
                                        <div class="form-item" id="edit-pass-wrapper">
                                            <label for="j_password"><spring:message code="security_login_form_password"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                            <input name="j_password" id="j_password" maxlength="128" size="60" class="form-text required" type="password"/>
                                            <div class="description"><spring:message code="label_login_input_password"/></div>
                                        </div>
                                        <spring:message code="button_submit" htmlEscape="false" var="submit_label"/>
                                        <input id="proceed" type="submit" value="${fn:escapeXml(submit_label)}"/>
                                    </div>
                                </form>
                            </div><!-- /content-content -->
                        </div><!-- /content-content -->
                    </div><!-- /content-inner-inner -->
                </div><!-- /content-inner -->
            </div><!-- /content-region-inner -->
        <!--</sec:authorize>-->

    </div>
    
</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>

</html>