<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div sec:authorize="isAnonymous()">
        <h1 class="widget-header">Sign in</h1>

        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username and password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">
                You have been logged out.
            </div>
        </div>

        <form class="pure-form pure-form-aligned" method="post" action="#" th:method="POST" th:action="@{/jssc}" accept-charset="UTF-8" id="user-login_1" name="f">
            <fieldset>
                <div class="pure-control-group">
                    <label for="j_username">Login</label>
                    <input name="j_username" id="j_username" type="text" placeholder="Login"/>
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>

                <div class="pure-control-group">
                    <label for="j_password">Password</label>
                    <input name="j_password" id="j_password" type="password" placeholder="Password">
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div class="pure-controls">
                    <label for="remember" class="pure-checkbox">
                        <input id="remember" type="checkbox"/>
                        Remember me
                    </label>
                    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<!--

    <div>


            <spring:message code="label_sign_up" htmlEscape="false" var="title_sign_up" />
            <spring:message code="security_login_title" htmlEscape="false" var="title_login"/>
            <spring:message code="label_forgot_password" htmlEscape="false" var="title_forgot_password"/>

            <div id="content-region-inner" class="content-region-inner inner">
                <div id="content-tabs" class="content-tabs block">
                    <div id="content-tabs-inner" class="content-tabs-inner inner clearfix">
                        <ul class="tabs primary">
                            <li><a href="signup">${title_sign_up}</a></li>
                            <li class="active"><a href="login" class="active">${title_login}</a></li>
                            <li><a href="forgot">${title_forgot_password}</a></li>
                        </ul>
                    </div>
                </div>

                <div id="content-inner" class="content-inner block">
                    <div id="content-inner-inner" class="content-inner-inner inner">
                        <h1 class="title">${title_login}</h1>
                        <div id="content-content" class="content-content">
                            <c:if test="${not empty param.login_error}">
                                <div class="errors">
                                    <p>
                                        <spring:message code="security_login_unsuccessful"/>
                                        <c:out value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>
                                        .
                                    </p>
                                </div>
                            </c:if>
                            <c:if test="${empty param.login_error}">
                                <p><spring:message code="security_login_message"/></p>
                            </c:if>
                            <spring:message code="form_field_requeired" var="form_field_requeired"/>

                            <div id="content-content" class="content-content">
                                <form method="post" action="/jssc" th:method="POST" th:action="@{/logout}" accept-charset="UTF-8" id="user-login" name="f">
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                    <div>
                                        <div class="form-item" id="edit-name-wrapper">
                                            <label for="j_username"><spring:message code="security_login_form_username"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                            <input maxlength="60" name="j_username" id="j_username" size="60" value="" class="form-text required" type="text"/>
                                            <div class="description"><spring:message code="label_login_input_username"/></div>
                                        </div>
                                        <div class="form-item" id="edit-pass-wrapper">
                                            <label for="j_password"><spring:message code="security_login_form_password"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                            <input name="j_password" id="j_password" maxlength="128" size="60" class="form-text required" type="password"/>
                                            <div class="description"><spring:message code="label_login_input_password"/></div>
                                        </div>
                                        <spring:message code="button_submit" htmlEscape="false" var="submit_label"/>
                                        <input id="proceed" type="submit" value="${fn:escapeXml(submit_label)}"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
-->
