<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:sec="http://www.springframework.org/security/tags"
     version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <sec:authorize access="isAnonymous()">

        <spring:message code="security_login_title" htmlEscape="false" var="title_login"/>

        <div id="block-user-0" class="block block-user even  last grid16-16">
            <div class="inner clearfix">
                <h2 class="title block-title">${title_login}</h2>
                <div class="content clearfix">

                    <spring:url value="/jssc" var="form_url"/>
                    <spring:message code="form_field_requeired" var="form_field_requeired"/>

                    <div id="content-content" class="content-content">
                        <form action="${fn:escapeXml(form_url)}" accept-charset="UTF-8" method="post" id="user-login" name="f">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <div>
                                <div class="form-item" id="edit-name-wrapper">
                                    <label for="j_username"><spring:message code="security_login_form_username"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                    <input maxlength="60" name="j_username" id="j_username" size="60" value="" class="form-text required" type="text"/>
                                    <div class="description"><spring:message code="label_login_input_username"/></div>
                                </div>
                                <div class="form-item" id="edit-pass-wrapper">
                                    <label for="j_password"><spring:message code="security_login_form_password"/><span class="form-required" title="${form_field_requeired}">*</span></label>
                                    <input name="j_password" id="j_password" maxlength="128" size="60" class="form-text required" type="password"/>
                                    <div class="description"><spring:message code="label_login_input_password"/></div>
                                </div>
                                <spring:message code="button_submit" htmlEscape="false" var="submit_label"/>
                                <input id="proceed" type="submit" value="${fn:escapeXml(submit_label)}"/>
                            </div>
                        </form>
                    </div><!-- /content-content -->

                </div>
            </div><!-- /block-inner -->
        </div><!-- /block -->

    </sec:authorize>

</div>