<div class="app-view">
  <div *ngIf="authState.auth; then thenBlock else elseBlock"></div>
  <!--  -->
  <!--  -->
  <ng-template #thenBlock>
    <mat-toolbar class="app-view-header" color="primary">
      <mat-toolbar-row class="app-view-header__row">
        <div class="app-view-header__left">
          <button class="hamburger mat-button app-view__nav-button" [class.app-view__nav-button--show]="sidenavOpen === true" mat-button="" title="" (click)="sidenav.toggle()">
            <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
              <svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
              </svg>
            </mat-icon>
          </button>
          <button class="mat-button" mat-button="" title="" routerLink="/">AiAi</button>
          <button class="mat-button" mat-button="" title="" routerLinkActive="active" routerLink="/launchpad">Launchpad</button>
          <button class="mat-button" mat-button="" title="" routerLinkActive="active" routerLink="/pilot">Pilot</button>
        </div>
        <div class="app-view-header__right">
          <mat-slide-toggle [(ngModel)]="checked" (change)="change()" ></mat-slide-toggle>
          <button class="mat-button" mat-button="" title="" routerLinkActive="active" routerLink="/about">About</button>
          <button class="mat-button" mat-button="" title="" routerLinkActive="active" routerLink="/signout">Sign out</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="app-view-body">
      <mat-sidenav class="app-view-sidenav" #sidenav mode="side" opened="{{sidenavOpen}}">
        <router-outlet name="nav"></router-outlet>
      </mat-sidenav>
      <mat-sidenav-content class="app-view-sidenav-content">
        <router-outlet name="body"></router-outlet> 
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
  <!--  -->
  <!--  -->
  <ng-template #elseBlock>
    <mat-toolbar class="app-view-header" color="primary">
      <mat-toolbar-row class="app-view-header__row">
        <div class="app-view-header__left">
          <button class="mat-button" mat-button="" title="" routerLink="/">AiAi</button>
        </div>
        <div class="app-view-header__right">
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="app-view-body">
      <mat-sidenav-content class="app-view-sidenav-content">
        <div class="flex space-between flex-start">
          <about-view></about-view>
          <signin-view></signin-view>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-template>
  <!--  -->
  <!--  -->
</div>
