




:host /deep/ .ngx-json-viewer {
    line-height: 1.6;
    font-size: 14px !important;

    .toggler {
        &:after {
            content: none !important;
        }
    }

    .segment {
        padding: 0 !important;
        margin: 0 !important;

    }

    section:hover {
        background-color: rgba(0, 0, 0, 0.01);
    }

    .expandable {
        cursor: default !important;
    }
}

.graph {
    position: relative;
    overflow: hidden;

    >* {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        content: '';
        padding-bottom: 100%;
        display: block;
        width: 100%;
    }
}

.tasks {
    white-space: nowrap;
    line-height: 1.6;

    table {
        button {
            margin: 0 8px;
            margin: 2px 0;
            font-size: 14px;
        }

        td {
            vertical-align: top;
            font-size: 14px;
        }

        td:last-child {
            vertical-align: middle;
            width: 100%;
        }

        table {
            width: auto;
            border-collapse: collapse;

            td {
                padding: 0 4px;
                vertical-align: top;
            }

            td:first-child {
                padding: 0;
                padding-right: 0.5em;
            }

            td:last-child {
                padding: 0;
            }
        }
    }
    .completed {
        background-color: crimson;
        padding: 0 4px; 
        color:white;
        font-weight: bold;
        border-radius: 3px
    }
    .completed--on {
        background-color: mediumseagreen;
    }
}

.general-info{
    button{
        margin: 4px 0;
        margin-right: 8px;
    }
}