div(*ngIf="response")
    ct-section
        ct-section-header
            ct-section-header-row
                ct-heading The Experiment Info
    include general-info.partial.pug
    include metrics.partial.pug
    //- experiment-metrics
    experiment-tasks('[tasks]'="tasks")
