ct-cols
    ct-col
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading Tasks
            ct-section-body
                ct-section-body-row
                    ct-table.tasks
                        table(mat-table [dataSource]="tables.tasks.table") 
                            ng-container(matColumnDef="id") 
                                td(mat-cell *matCellDef="let el") {{el.task.id}}
                            ng-container(matColumnDef="col1") 
                                td(mat-cell *matCellDef="let el") 
                                    table
                                        tr
                                            td type: 
                                            td 
                                                span(*ngIf="el.type == 1") FIT
                                                span(*ngIf="el.type == 2") PREDICT
                                        tr
                                            td completed: 
                                            td
                                                span.completed('[class.completed--on]'="el.task.isCompleted") {{el.task.isCompleted}} 
                                        tr
                                            td assigned: 
                                            td 
                                                span(*ngIf="el.task.assignedOn == null") null
                                                span {{el.task.assignedOn | date:'MMM d, yyyy, HH:mm:ss'}} 
                                        tr
                                            td completed: 
                                            td  
                                                span(*ngIf="el.task.completedOn == null") null
                                                span {{el.task.completedOn | date:'MMM d, yyyy, HH:mm:ss'}} 
                            ng-container(matColumnDef="col2") 
                                td(mat-cell *matCellDef="let el") 
                                    .flex.flex--fd_c.flex--ai_s
                                        button(mat-stroked-button
                                            '(click)'='currentTask = el.task; featureProgressConsolePart(el.task.id)'
                                            '[color]'="currentTask == el.task ? 'primary' : ''" 
                                            '[class.mat-flat-button]'="currentTask == el.task"
                                            '[class.mat-stroked-button]'="currentTask != el.task") Info
                                        button(mat-stroked-button '(click)'='taskRerun(el.task.id)' ) Re-run
                            tr(mat-row *matRowDef="let row; columns: tables.tasks.columnsToDisplay;") 


    ct-col(style="flex:1; overflow:auto;")
        ct-section
            ct-section-header
                ct-section-header-row
                    ct-heading Console output
            ct-section-body
                ct-section-body-row
                    ct-section-content
                        ct-wrap-block(#consoleView) 
                            ct-flex(justify-content="center" align-items="center" '*ngIf'="!consolePartResponse")
                                ct-flex-item
                                    div(style="min-height: 100px;") No Task Info
                            div(*ngIf="consolePartResponse")
                                div(*ngFor="let item of consolePartResponse.items;")
                                    ct-pre(overflow-x="auto")
                                        pre(style="white-space:pre;")
                                            table
                                                tr
                                                    td exitCode:
                                                    td {{item.exitCode}}
                                                tr
                                                    td isOk:
                                                    td {{item.isOk}}
                                    br
                                    ct-pre(overflow-x="auto")
                                        pre(style="white-space:pre;")
                                            div {{item.console}}
                                                //- ngx-json-viewer('[json]'="item.console" '[expanded]'="true") 