<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

    <script>
        var table = function (html) {
            $('#table').html(html).find('.pure-button').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            // is this the right usage?
            $.post('/example/example-part', table);
        });
        
    </script>

    <h1 class="widget-header">Example of table</h1>

    <a class="pure-button" href="example-add.html" th:href="@{/example/example-add}">Add new record</a>
    
    <table class="pure-table pure-table-bordered" id="table" th:fragment="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

        <!--/*@thymesVar id="result" type="aiai.ai.core.ExampleController.Result"*/-->
        <tr th:each="r : ${result.items}">
            <td th:text="${r.id}">Sample Item</td>
            <td th:text="${r.description}">Sample Description</td>
        </tr>
        <tr>
            <td colspan="2">
                <a class='pure-button prev' href="#" th:href="${result.prevUrl}">&lt; Prev</a>
                <a class='pure-button next' href="#" th:href="${result.nextUrl}">Next &gt;</a>
<!--
                <a th:attr="class=${result.prevAvailable} ? 'pure-button nav-button prev' : 'pure-button-disabled nav-button prev'" href="#" th:href="${result.prevUrl}">&lt; Prev</a>
                <a th:attr="class=${result.nextAvailable} ? 'pure-button nav-button next' : 'pure-button-disabled nav-button next'"href="#" th:href="${result.nextUrl}">Next &gt;</a>
-->
            </td>
        </tr>
        </tbody>
    </table>

</div>
