mat-form-field {
    width: 100%;
}

.metadata-sections {

    .mat-cell,
    .mat-header-cell {
        border: none !important;
    }

    .mat-column-key,
    .mat-column-empty {
        flex: none;
        width: 250px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .mat-column-values,
    .mat-column-edit {
        flex-grow: 1;
    }

    .mat-column-delete,
    .mat-column-done {
        flex: none;
    }

    .mat-column-bts {
        flex: none;
    }

    div {
        width: 100%;
    }

    .mat-row {
        align-items: baseline;
    }

    .mat-row:after {
        content: none;
    }

    mat-form-field {
        margin-top: 1.34375em;
    }


    .metadata-params {
        .caption-row:hover {
            background: rgba(0, 0, 0, 0.033);
        }

        .caption-row.picked-row:hover {
            background: rgba(0, 0, 0, 0);
        }

        .caption-row+.edit-row {
            // display: none;
        }

        .caption-row.picked-row+.edit-row {
            display: flex;
            // position: relative;
            // top: -2px;
        }
    }
}