ct-cols
    ct-col(size="6")
        ct-section('*ngIf'="simpleExperiment")
            ct-section-header
                ct-section-header-row 
                    ct-heading Experiment \#{{simpleExperiment.id}}
            ct-section-body
                ct-section-body-row
                    mat-form-field(appearance="outline")
                        mat-label Name
                        input(matInput autocomplete="off" '[(ngModel)]'="simpleExperiment.name")
                        mat-hint This is a required field. 
                ct-section-body-row
                    mat-form-field(appearance="outline")
                        mat-label Description
                        textarea(matInput cdkTextareaAutosize cdkAutosizeMinRows="5" '[(ngModel)]'="simpleExperiment.description")
                        mat-hint This is a required field. 
                ct-section-body-row
                    mat-form-field(appearance="outline")
                        mat-label Experiment code
                        textarea(matInput cdkTextareaAutosize cdkAutosizeMinRows="5" '[(ngModel)]'="simpleExperiment.code")
                        mat-hint This is a required field. 
                ct-section-body-row
                    mat-form-field(appearance="outline")
                        mat-label Seed
                        input(matInput autocomplete="off" '[(ngModel)]'="simpleExperiment.seed")
                        mat-hint Default value will be used if not defined. Which is 1. 

            ct-section-footer
                ct-section-footer-row
                    ct-flex(justify-content="flex-end" gap="8px")
                        ct-flex-item:  button(mat-stroked-button '(click)'="cancel()" title="Cancel")  Back
                        ct-flex-item:  button(mat-flat-button '(click)'="updateSimpleExperiment($event)" color="primary" title="Save") Save
    ct-col(size="6")
        ct-section(*ngIf="simpleExperimentResponse")
            ct-section-body
                ct-section-body-row STATUS: {{simpleExperimentResponse.status}}
                ct-section-body-row(*ngFor="let error of simpleExperimentResponse.errorMessages; index as i; trackBy: trackByFn") {{error}}