<div class="body">
    <div class="body-header">
        <h1>Accounts</h1>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    <mat-card class="flow-card">
        <table mat-table [dataSource]="dataSource" class="mat-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let el">{{el.id}}</td>
            </ng-container>
            <ng-container matColumnDef="isEnabled">
                <th mat-header-cell *matHeaderCellDef>Is enabled</th>
                <td mat-cell *matCellDef="let el">{{el.isEnabled}}</td>
            </ng-container>
            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef>Login</th>
                <td mat-cell *matCellDef="let el">{{el.login}}</td>
            </ng-container>
            <ng-container matColumnDef="publicName">
                <th mat-header-cell *matHeaderCellDef>Public name</th>
                <td mat-cell *matCellDef="let el">{{el.publicName}}</td>
            </ng-container>
            <ng-container matColumnDef="createdOn">
                <th mat-header-cell *matHeaderCellDef>Created On</th>
                <td mat-cell *matCellDef="let el">{{el.createdOn}}</td>
            </ng-container>
            <ng-container matColumnDef="bts">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let el">
                    <div class="buttons">
                        <button mat-flat-button [routerLink]="['/launchpad/accounts/edit/',el.id]" color="primary">
                            Edit
                        </button>
                        <button mat-flat-button [routerLink]="['/launchpad/accounts/edit-password/',el.id]" color="primary">
                            Change Password
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <div>
            <mat-paginator [pageSizeOptions]="[10]" hidePageSize></mat-paginator>
        </div>
    </mat-card>
    <div class="body-footer">
        <div></div>
        <div>
            <button mat-flat-button color="primary" routerLink="/launchpad/accounts/add/">Add Account</button>
        </div>
    </div>
</div>