div(*ngIf="response")
	ct-section
		ct-section-header
			ct-section-header-row
				ct-heading The Experiment Info
				mat-hint
					div id {{response.experiment.id}}
					div feature id {{response.experimentFeature.id}}
	include general-info.partial.pug
	include metrics.partial.pug
	include tasks-console.partial.pug
