div(*ngIf="response")
	ct-section-caption The Experiment Info: {{response.experiment.id}}, Experiment Feature: {{response.experimentFeature.id}}
	br
	br
	include general-info.partial.pug
	br
	br
	include metrics.partial.pug
	br
	br
	include tasks-console.partial.pug
