.section
    .section__header
        ct-section-caption Edit Account {{account ? account.username : ''}} ({{account ? account.publicName : ''}})
    .section__body
        .section__content('*ngIf'="currentStates.has(states.firstLoading)")
            mat-progress-bar(mode="indeterminate")
        .section__content('*ngIf'="!currentStates.has(states.firstLoading)") 
            ct-cols(align-items="baseline")
                ct-col(size='6')
                    form('[formGroup]'="form" novalidate)
                        mat-form-field(appearance="outline") 
                            mat-label Password
                            input(matInput type="password" autocomplete="off" formControlName="password") 
                        mat-form-field(appearance="outline") 
                            mat-label Password again
                            input(matInput type="password" autocomplete="off" formControlName="password2") 
                        .buttons.buttons--right 
                            button(mat-stroked-button '(click)'="location.back()") Cancel
                            button(mat-flat-button '(click)'="save()" color="primary"  
                                '[disabled]'="currentStates.has(states.wait) || form.invalid") Save

                ct-col(size='1')

                ct-col(size='5')
                    div(*ngIf="response")
                        p STATUS: {{response.status}}
                        p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}

