<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Delete workbook</h1>

        <!--/*@thymesVar id="result" type="aiai.api.v1.data.PlanApiData.WorkbookResult"*/-->
        <p>Code of plan:</p>
        <pre style="width:50%" th:text="${result.plan.code}"></pre>

        <p>Parameters of plan:</p>
        <pre style="width:50%" th:text="${result.plan.params}"></pre>

        <p>Input resource pool codes:</p>
        <pre style="width:50%" th:text="${result.workbook.inputResourceParam}"></pre>

        <p>Exec state:</p>
        <pre style="width:50%" th:text="${T(aiai.api.v1.EnumsApi.WorkbookExecState).from(result.workbook.execState)}"></pre>

        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#" th:method="post" th:action="@{/launchpad/plan/workbook-delete-commit}"
                          accept-charset="UTF-8"
                          id="workbook-delete-commit"
                          name="f">
                        <input type="hidden" th:name="planId" th:value="${result.plan.id}"/>
                        <input type="hidden" th:name="workbookId" th:value="${result.workbook.id}"/>
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Delete</button>
                        </fieldset>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <!--<a class="pure-button pure-button-primary" href="workbooks.html" th:href="${'/launchpad/plan/workbooks/' + result.plan.id}">Cancel</a>-->
                    <form class="pure-form pure-form-stacked" method="get" action="#" th:method="get" th:action="${'/launchpad/plan/workbooks/' + result.plan.id}" accept-charset="UTF-8" id="workbook-delete-cancel" name="f">
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Cancel</button>
                        </fieldset>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>