<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-launchpad}"
>
    <h1 class="widget-header">New message</h1>

    <!--/*@thymesVar id="account" type="ai.metaheuristic.ai.launchpad.beans.Account"*/-->
    <label th:text="${'Username: ' + account.username}">username</label>

    <form class="pure-form pure-form-stacked" method="post" action="#" th:method="POST"
          th:action="@{/launchpad/company/company-account-password-edit-commit/{companyId}(companyId=${companyId})}" accept-charset="UTF-8" id="account-password-form"
          name="f">
        <input type="hidden" th:name="id" th:field="${account.id}"/>
        <fieldset>

            <label for="password">Password</label>
            <input name="password" id="password" type="password" placeholder="text" >
            <span class="pure-form-message">This is a required field.</span>

            <label for="password2">Password again</label>
            <input name="password2" id="password2" type="password" placeholder="text" >
            <span class="pure-form-message">This is a required field.</span>

            <table>
                <tr>
                    <td>
                        <button type="submit" class="pure-button pure-button-primary">Save changes</button>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <a class="pure-button pure-button-primary" href="company-accounts.html"
                           th:href="${'/launchpad/company/company-accounts'}">Cancel</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>