<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New company</h1>

        <!--/*@thymesVar id="company" type="ai.metaheuristic.ai.launchpad.beans.Company"*/-->
        <form class="pure-form pure-form-stacked" th:object="${company}" method="post" action="#" th:method="POST" th:action="@{/launchpad/company/company-add-commit}" accept-charset="UTF-8" id="company-form" name="f">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <fieldset>

                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="text"  th:field="*{name}">
                <span class="pure-form-message">This is a required field.</span>


                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create company</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="companies.html" th:href="${'/launchpad/company/companies'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
</div>