:host{
    display: block;
    background: white;
    padding: 2em 0; 
    border-radius: 8px;
    margin-bottom: 2em;
    box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.025), 0px 1px 0px 0px rgba(0,0,0,0.05);
    &[mode=card]{
        display: inline-block;
        max-width: 100%;
    }
}
// TODO replace color with theme pallete
:host-context(.dark-theme){
    background: rgba(64,64,64,1);
}