<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <a class="pure-menu-heading">AI</a>
    <ul>
        <li sec:authorize="hasAnyRole('ADMIN', 'DATA')"
            th:attr="class=${#httpServletRequest.requestURI=='/dispatcher/experiment/experiments'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="dispatcher/ai/experiment/experiments.html" th:href="@{/dispatcher/ai/experiment/experiments}">Experiments</a>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'DATA')"
            th:attr="class=${#httpServletRequest.requestURI.startsWith('/dispatcher/ai/experiment-result/experiment-results')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="dispatcher/ai/experiment-result/experiment-results.html" th:href="@{/dispatcher/ai/experiment-result/experiment-results}">Experiment results</a>
        </li>
    </ul>
</div>
