<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     sec:authorize="isAuthenticated()"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <a class="pure-menu-heading">Batch</a>
    <ul>
        <li sec:authorize="hasAnyRole('ADMIN', 'DATA', 'MANAGER', 'OPERATOR')"
                th:attr="class=${#httpServletRequest.requestURI.startsWith('/dispatcher/batch/batches/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="dispatcher/batch/batches.html" th:href="@{/dispatcher/batch/batches}">Batch index</a>
        </li>
    </ul>
</div>
