<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="pure-menu-heading" th:text="${@environment.getProperty('mh.branding')}"></a>
    <ul>
        <li th:attr="class=${#httpServletRequest.requestURI=='/' || #httpServletRequest.requestURI=='/index'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="/" th:href="@{/}">Index</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI=='/about'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="about.html" th:href="@{/about}">About</a>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'DATA', 'MANAGER')"
            th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}" th:attr="class=${#strings.startsWith(#httpServletRequest.requestURI, '/dispatcher/ai/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="dispatcher/ai/experiment/experiments.html" th:href="@{/dispatcher/ai/experiment/experiments}">AI</a>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'DATA', 'MANAGER', 'OPERATOR')"
            th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}" th:attr="class=${#strings.startsWith(#httpServletRequest.requestURI, '/dispatcher/batch/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="dispatcher/batch/batches" th:href="@{/dispatcher/batch/batches}">Batch</a>
        </li>
        <li sec:authorize="hasAnyRole('MASTER_ADMIN', 'MASTER_OPERATOR', 'MASTER_SUPPORT', 'ADMIN', 'DATA', 'MANAGER')"
            th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
            th:attr="class=${#strings.startsWith(#httpServletRequest.requestURI, '/dispatcher/') && !#strings.startsWith(#httpServletRequest.requestURI, '/dispatcher/batch/') && !#strings.startsWith(#httpServletRequest.requestURI, '/dispatcher/ai/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="dispatcher/index.html" th:href="@{/dispatcher/index}">Control panel</a>
        </li>
        <li sec:authorize="isAnonymous()" th:attr="class=${#httpServletRequest.requestURI=='/login'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="/login" th:href="@{/login}">Sign in</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="pure-menu-item pure-menu" >
            <form method="POST" action="/logout" th:method="POST" th:action="@{/logout}" id="logout-form">
                <a class="pure-menu-link" href="#" title="Logout" onclick="document.getElementById('logout-form').submit();">Sign out</a>
            </form>
        </li>
    </ul>
</div>
