<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     sec:authorize="isAuthenticated()"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <a class="pure-menu-heading">Pilot</a>
    <ul>
        <li th:attr="class=${#httpServletRequest.requestURI=='/pilot/index'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="pilot/index.html" th:href="@{/pilot/index}">Pilot index</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI.startsWith('/pilot/process-resource/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="pilot/process-resource/process-resources.html" th:href="@{/pilot/process-resource/process-resources}">Process resource</a>
        </li>
    </ul>
</div>
