<div class="pure-menu pure-menu-open pure-menu-horizontal" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="pure-menu-heading" th:text="${@environment.getProperty('mh.branding')}"></a>
    <ul>
        <li th:attr="class=${#httpServletRequest.requestURI=='/' || #httpServletRequest.requestURI=='/index'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="/" th:href="@{/}">Index</a>
        </li>
        <li th:attr="class=${#httpServletRequest.requestURI=='/about'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="about.html" th:href="@{/about}">About</a>
        </li>
        <li sec:authorize="hasAnyRole('MASTER_ADMIN', 'MASTER_OPERATOR', 'MASTER_SUPPORT', 'ADMIN', 'DATA', 'MANAGER')"
            th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
            th:attr="class=${#strings.startsWith(#httpServletRequest.requestURI, '/launchpad/') && !#strings.startsWith(#httpServletRequest.requestURI, '/launchpad/batch/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/index.html" th:href="@{/launchpad/index}">Launchpad</a>
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'DATA', 'MANAGER', 'OPERATOR')"
            th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}" th:attr="class=${#strings.startsWith(#httpServletRequest.requestURI, '/launchpad/batch/')} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="launchpad/batch/index.html" th:href="@{/launchpad/batch/index}">Batch</a>
        </li>
        <li sec:authorize="isAnonymous()" th:attr="class=${#httpServletRequest.requestURI=='/login'} ? 'pure-menu-item pure-menu-selected' : 'pure-menu-item'">
            <a class="pure-menu-link" href="/login" th:href="@{/login}">Sign in</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="pure-menu-item pure-menu" >
            <form method="POST" action="/logout" th:method="POST" th:action="@{/logout}" id="logout-form">
                <a class="pure-menu-link" href="#" title="Logout" onclick="document.getElementById('logout-form').submit();">Sign out</a>
            </form>
        </li>
    </ul>
</div>
