ct-section
    form(action="" '[formGroup]'="form" novalidate autocomplete="off")

        ct-section-header
            ct-section-header-row
                ct-heading Sign In
        ct-section-body
                ct-section-body-row
                    ct-section-content
                        mat-form-field
                            input(matInput placeholder="Name" formControlName="username" autocomplete="off")
                ct-section-body-row
                    ct-section-content
                        mat-form-field
                            input(matInput placeholder="Password" type="password" autocomplete="off" formControlName="password")

        ct-section-footer
            ct-section-footer-row
                ct-flex(justify-content="space-between" gap="8px" align-items="center")
                    ct-flex-item: mat-checkbox(class="example-margin" color="primary" formControlName="remember") Remember
                    ct-flex-item: button(class="mat-flat-button" mat-button="" '(click)'="login()" color="primary" title="") Sign In


