<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-ai}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>

    <h1 class="widget-header" th:text="${'Details of Series '+result.seriesName}">text</h1>
    <h1 class="widget-header" th:text="${'All experiments'}">text</h1>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.all.hyperParams}" >
            <tr>
                <td>
                    <div th:text="${r.value}">Name</div>
                </td>
                <td>
                    <div th:text="${r.counts}">Value</div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.all.features}" >
            <tr>
                <td>
                    <div th:text="${r.value}">Name</div>
                </td>
                <td>
                    <div th:text="${r.counts}">Value</div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <p th:text="${'Metrics code: ' +result.all.metricsInfos.metricsCode}">Code of metrics</p>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th colspan="3">Experiment's params</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.all.metricsInfos.metricsInfos}" >
            <tr>
                <td>
                    <div th:text="${r.metrics}">Metrics value</div>
                </td>
                <td>
                    <div th:text="${r.hyperParams}">Hyper params</div>
                </td>
                <td>
                    <div th:text="${r.features}">Features</div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <h1 class="widget-header" th:text="${'Top20 experiments'}">text</h1>
    <p>&nbsp;</p>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.top20.hyperParams}" >
            <tr>
                <td>
                    <div th:text="${r.value}">Name</div>
                </td>
                <td>
                    <div th:text="${r.counts}">Value</div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.top20.features}" >
            <tr>
                <td>
                    <div th:text="${r.value}">Name</div>
                </td>
                <td>
                    <div th:text="${r.counts}">Value</div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <p th:text="${'Metrics code: ' +result.top20.metricsInfos.metricsCode}">Code of metrics</p>
    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th colspan="3">Experiment's params</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.top20.metricsInfos.metricsInfos}" >
            <tr>
                <td>
                    <div th:text="${r.metrics}">Metrics value</div>
                </td>
                <td>
                    <div th:text="${r.hyperParams}">Hyper params</div>
                </td>
                <td>
                    <div th:text="${r.features}">Features</div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <a class="pure-button pure-button-primary" href="series-details.html" th:href="${'/dispatcher/ai/series/series-details/'+result.seriesId}">To details</a>

</div>
