<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-ai}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">New Series</h1>

        <form class="pure-form pure-form-stacked" method="post" action="#" th:method="POST" th:action="@{/dispatcher/ai/series/series-add-form-commit}" accept-charset="UTF-8" id="series-add-form" name="f">
            <fieldset>

                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="name" size="100">
                <span class="pure-form-message">This is a required field.</span>

<!--
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="description" cols="100" rows="5" maxlength="250"></textarea>
                <span class="pure-form-message">This is a required field.</span>
-->

                <table>
                    <tr>
                        <td>
                            <button type="submit" class="pure-button pure-button-primary">Create Series</button>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <a class="pure-button pure-button-primary" href="series.html" th:href="${'/dispatcher/ai/series/series'}">Cancel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
        <p>&nbsp;</p>

    </div>
</div>