<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-ai}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>

    <h1 class="widget-header" th:text="${'Details of Series '+result.seriesName}">text</h1>

    <table class="pure-table pure-table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
<!--            <th th:colspan="1">&nbsp;</th>-->
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.hyperParams}" >
            <tr>
                <td>
                    <div th:text="${r.value}">Name</div>
                </td>
                <td>
                    <div th:text="${r.counts}">Value</div>
                </td>
<!--
                <td><a class="pure-button pure-button-primary" th:href="${'/dispatcher/ai/series/series-show/' + r.series.id}">Show</a></td>
                <td><a class="pure-button pure-button-primary" th:href="${'/dispatcher/ai/series/series-edit/' + r.series.id}">Edit</a></td>
                <td><a class="pure-button pure-button-primary" th:href="${'/dispatcher/ai/series/series-delete/' + r.series.id}">Delete</a></td>
-->
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

    <a class="pure-button pure-button-primary" href="series-details.html" th:href="${'/dispatcher/ai/series/series-details/'+result.seriesId}">To details</a>

</div>
