<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-ai}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.dispatcher.enabled'))}"
>

    <!--/*@thymesVar id="result" type="ai.metaheuristic.ai.dispatcher.data.SeriesData$SeriesImportDetails"*/-->
    <h1 class="widget-header" th:text="${'Import results into Series '+result.seriesName}">text</h1>

    <p></p>

    <table class="pure-table pure-table-bordered" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Is imported</th>
            <th th:colspan="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <div th:remove="tag" th:each="r : ${result.importDetails}">
            <tr>
                <td>
                    <div th:text="${'#'+r.experimentResult.id}">Id</div>
                </td>
                <td>
                    <div th:text="${r.experimentResult.name}">Name</div>
                </td>
                <td>
                    <div th:text="${r.imported}">Imported</div>
                </td>
                <td>
                    <form class="pure-form" action="#" method="post" enctype="multipart/form-data" th:method="POST"
                          th:action="${'/dispatcher/ai/series/series-import-commit/' + result.seriesId+'/'+r.experimentResult.id}">
                        <button type="submit" class="pure-button pure-button-primary">Import</button>
                    </form>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
    <p>&nbsp;</p>

</div>
