ct-section
	ct-section-header
		ct-section-header-row
			ct-heading Workbooks in Plan \#{{ planId }}
	ct-section-body
		ct-section-body-row(*ngIf="currentState == states.show")
			ct-table
				table(mat-table '[dataSource]'="dataSource" class="mat-table")
					ng-container(matColumnDef="id")
						th(mat-header-cell *matHeaderCellDef) Id
						td(mat-cell *matCellDef="let el") {{el.id}}
					ng-container(matColumnDef="planCode")
						th(mat-header-cell *matHeaderCellDef) Plan Code
						td(mat-cell *matCellDef="let el") {{plan.code}}
					ng-container(matColumnDef="inputResourceParam")
						th(mat-header-cell *matHeaderCellDef) Input Pool Codes
						td(mat-cell *matCellDef="let el") 
							pre {{el.inputResourceParam}}
					ng-container(matColumnDef="createdOn")
						th(mat-header-cell *matHeaderCellDef) Created On
						td(mat-cell *matCellDef="let el") {{el.createdOn | date}}
					ng-container(matColumnDef="isPlanValid")
						th(mat-header-cell *matHeaderCellDef) Is Plan<br> Valid
						td(mat-cell *matCellDef="let el") {{plan.valid}}
					ng-container(matColumnDef="isWorkbookValid")
						th(mat-header-cell *matHeaderCellDef) Is workbook<br> Valid
						td(mat-cell *matCellDef="let el") {{el.valid}}
					ng-container(matColumnDef="execState")
						th(mat-header-cell *matHeaderCellDef) ExecState
						td(mat-cell *matCellDef="let el") {{execState[el.execState]}}
					ng-container(matColumnDef="completedOn")
						th(mat-header-cell *matHeaderCellDef) Completed on
						td(mat-cell *matCellDef="let el") {{el.completedOn | date}}
					ng-container(matColumnDef="bts")
						th(mat-header-cell *matHeaderCellDef)
						td(mat-cell *matCellDef="let el")
							ct-flex(justify-content="flex-end" gap="4px")
								ct-flex-item(*ngIf="(el.execState == execState.NONE) && (el.valid) && (plan.valid)")
									button(mat-flat-button size="forTableRow" color="primary" '(click)'="produce(el,$event)") Produce

								ct-flex-item(*ngIf="(el.execState == execState.PRODUCED) || (el.execState == execState.STOPPED)")
									button(mat-flat-button size="forTableRow" color="primary" '(click)'="start(el,$event)") Start

								ct-flex-item(*ngIf="(el.execState == execState.STARTED)")
									button(mat-flat-button size="forTableRow" color="primary" '(click)'="stop(el,$event)") Stop

								ct-flex-item
									button(mat-flat-button color="warn" size="forTableRow" '(click)'="delete(el)"): mat-icon delete
					tr(mat-header-row *matHeaderRowDef="columnsToDisplay")
					tr(mat-row '[class.mat-row--deleted]'="row.__deleted" '*matRowDef'="let row; columns: columnsToDisplay;")
		ct-section-body-row(*ngIf="currentState == states.loading")
			mat-progress-bar(mode="indeterminate")
	
	ct-section-footer
		ct-section-footer-row
			ct-flex(justify-content="space-between")
				ct-flex-item
					ct-flex(justify-content="flex-start" gap="8px")
						ct-flex-item: button(mat-flat-button #prevTable '(click)'='prev()' disabled): mat-icon arrow_back_ios
						ct-flex-item: button(mat-flat-button #nextTable '(click)'='next()' disabled): mat-icon arrow_forward_ios
				ct-flex-item
					a(mat-flat-button color="primary" '[disabled]'="currentState == states.loading" '[routerLink]'="['/launchpad','plans',planId,'workbooks','add']") Add workbook

