<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('mh.launchpad.enabled'))}"
>

    <script>
        var table = function (html) {
            $('#fragment-table').html(html).find('.ajax-elem').each(function () {
                $(this).click(function () {
                    $.post($(this).attr('href'), table);
                    return false;
                });
            });
        };

        $(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $.post('/launchpad/resource/resources-part', table);
        });

    </script>

    <h1 class="widget-header">Create global variable from file</h1>

    <form class="pure-form" action="#" method="post" enctype="multipart/form-data" th:method="POST"
          th:action="@{/launchpad/resource/resource-upload-from-file}"
    >
        <fieldset>
            <label for="uploadFile">File for uploading</label>
            <input id="uploadFile" placeholder="Choose File" th:disabled="disabled" th:size="100" style="color:black; background-color:white"/>
            <div class="fileUpload pure-button pure-button-primary">
                <span>Select file</span>
                <input name="file" id="uploadBtn" type="file" class="upload">
            </div>
            <span class="pure-form-message">This is a required field.</span>
        </fieldset>
        <fieldset>
            <label for="variable">Variable</label>
            <input name="variable" id="variable" type="text" placeholder="variable">
            <span class="pure-form-message">This is a required field.</span>
        </fieldset>

        <p></p>
        <button type="submit" class="pure-button pure-button-primary">Create resource</button>
    </form>

    <script>
         // Do not move upper. Must be placed after <input name="file" id="uploadBtn" type="file" class="upload">
        document.getElementById("uploadBtn").onchange = function () {
            document.getElementById("uploadFile").value = this.value;
        };
    </script>

    <h1 class="widget-header">Create global variable with external storage</h1>
    <form class="pure-form pure-form-stacked" action="#" th:method="POST"
          th:action="@{/launchpad/resource/resource-in-external-storage}" accept-charset="UTF-8" id="workbook-multiply-add-form" name="f">
        <fieldset>
            <label for="variable">Variable</label>
            <input name="variable" id="variable1" type="text" placeholder="variable">
            <span class="pure-form-message">This is a required field.</span>
        </fieldset>

        <fieldset>

            <p th:text="Examples"></p>
            <pre style="width:50%">
sourcing: disk
disk:
  code: storage-code
  mask: '*'
</pre>

            <pre style="width:50%">
sourcing: git
git:
  repo: https://github.com/sergmain/metaheuristic.git
  branch: master
  commit: b25331edba72a1a901634212ac55752238fd2dd5
</pre>


            <label for="params">Params of resource</label>
            <textarea name="params" id="params" placeholder="Params of resources" cols="70" rows="15"
                      maxlength="10000"></textarea>
            <span class="pure-form-message"></span>

            <p>&nbsp;</p>
            <table>
                <tr>
                    <td>
                        <button type="submit" class="pure-button pure-button-primary">Create</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>

    <p>&nbsp;</p>

    <h1 class="widget-header">List of variables</h1>
    <!--/*@thymesVar id="result" type="ai.metaheuristic.ai.launchpad.data.ResourceData$ResourcesResult"*/-->
    <table class="pure-table pure-table-bordered" id="fragment-table" th:fragment="fragment-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Upload date</th>
            <th>Variable</th>
            <th>Filename</th>
            <th>Storage url</th>
            <th colspan="1">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${result.items}">
            <td th:text="${p.id}">#Id</td>
            <td th:text="${#dates.format(p.uploadTs, 'dd-MMM-yy HH:mm')}">Upload date</td>
            <td th:text="${p.variable}">Variable</td>
            <td th:text="${p.filename}">Filename</td>
            <td th:text="${p.storageUrl}">Storage url</td>
            <td><a class="pure-button pure-button-primary" th:href="${'/launchpad/resource/resource-delete/' + p.id}">Delete</a></td>
        </tr>
        <tr>
            <td colspan="12">
                <div>
                    <ul class='pagination pagination-centered'>
                        <li class="table-nav-padding">
                            <span th:if='${result.items.first}' class="table-nav-button">« First</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${not result.items.first}'
                               th:href="@{/launchpad/resource/resources-part(page=0,size=${result.items.pageable.pageSize})}">« First</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasPrevious()}' class="table-nav-button">←</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasPrevious()}'
                               th:href="@{/launchpad/resource/resources-part(page=${result.items.pageable.pageNumber - 1},size=${result.items.pageable.pageSize})}" title='Go to previous page'>←</a>
                        </li>
                        <li class="table-nav-padding">
                            <span th:if='${not result.items.hasNext()}' class="table-nav-button">→</span>
                            <a class='ajax-elem table-nav-button pure-button prev' href="#" th:if='${result.items.hasNext()}'
                               th:href='@{/launchpad/resource/resources-part(page=${result.items.pageable.pageNumber + 1},size=${result.items.pageable.pageSize})}' title='Go to next page'>→</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
