<div layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     layout:decorate="~{layout-launchpad}"
     th:if="${#bools.isTrue(@environment.getProperty('aiai.launchpad.enabled'))}"
>
    <div sec:authorize="isAuthenticated()">
        <h1 class="widget-header">Delete flow instance</h1>

        <!--/*@thymesVar id="result" type="aiai.ai.launchpad.flow.FlowController$FlowInstanceResult"*/-->
        <form class="pure-form pure-form-stacked" th:object="${result.flow}" action="#">
            <fieldset>
                <label for="code">Code of flow</label>
                <input name="code" id="code" type="text" placeholder="code" th:field="*{code}">

                <label for="params">Parameters of flow</label>
                <textarea name="params" id="params" placeholder="Parameters of flow" cols="70" rows="15" th:field="*{params}" maxlength="10000"></textarea>
            </fieldset>
        </form>

        <form class="pure-form pure-form-stacked" action="#">
            <fieldset>
                <label for="inputResourcePoolCode">Input resource pool code</label>
                <input name="inputResourcePoolCode" id="inputResourcePoolCode" type="text" placeholder="code" th:value="${result.flowInstance.inputResourcePoolCodes}">

                <label for="execState">Exec state</label>
                <input name="execState" id="execState" type="text" placeholder="execState"
                       th:value="${T(aiai.ai.Enums.FlowInstanceExecState).from(result.flowInstance.execState)}">

            </fieldset>
        </form>

        <table>
            <tr>
                <td>
                    <form class="pure-form pure-form-stacked" method="post" action="#" th:method="post" th:action="@{/pilot/process-resource/process-resource-delete-commit}"
                          accept-charset="UTF-8"
                          id="flow-instance-delete-commit"
                          name="f">
                        <input type="hidden" th:name="flowId" th:value="${result.flow.id}"/>
                        <input type="hidden" th:name="flowInstanceId" th:value="${result.flowInstance.id}"/>
                        <fieldset>
                            <button type="submit" class="pure-button pure-button-primary">Delete</button>
                        </fieldset>
                    </form>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    <a class="pure-button pure-button-primary" href="process-resources.html" th:href="${'/pilot/process-resource/process-resources'}">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
</div>