@import '~@angular/material/theming';


@mixin planCardLayout() {
    .plan-card {
        width: 100%;

        .mat-card-header {
            margin: 0 -16px;
        }
    }
}


@mixin section($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .section {
        margin-bottom: 1.5em;
        font-size: 14px
    }

    .section__header {
        position: relative;
    }

    .section__body {
        background-color: mat-color($background, card);
        position: relative;
    }

    .section__content {
        position: relative;
        padding: 24px;
        padding-bottom: 0;
    }

    .section__content:last-child {
        padding-bottom: 24px;
    }

    .section__footer {
        margin-top: 16px;
        padding: 0 48px;
    }
}

@mixin flex() {
    .flex {
        display: flex;
        align-items: baseline;
    }

    .flex--column {
        flex-direction: column;
    }

    .flex--jc_sb {
        justify-content: space-between;
    }

    .flex--jc_c {
        justify-content: center;
    }

    .flex--jc_fe {
        justify-content: flex-end;
    }

    .flex--fd_c {
        flex-direction: column;
    }

    .flex--ai_s {
        align-items: stretch;
    }
    .flex--ai_c {
        align-items: center;
    }
    .flex--fw_w{
        flex-wrap: wrap;
    }
}



@mixin simpleTable() {
    // .simple-table {

    //     table,
    //     mat-table,
    //     .mat-table {
    //         width: 100%;
    //     }

    //     th,
    //     mat-header-cell,
    //     .mat-header-cell {
    //         white-space: nowrap;
    //         padding: 11px 12px 8px;
    //         font-weight: bold;
    //         vertical-align: baseline;
    //         color: inherit;
    //         font-size: 14px;
    //         font-family: 'Roboto Condensed', sans-serif;
    //     }

    //     td,
    //     mat-cell,
    //     .mat-cell {
    //         padding: 8px 12px 8px;
    //         vertical-align: baseline;
    //     }

    //     th:first-child,
    //     mat-header-cell:first-child,
    //     .mat-header-cell:first-child,
    //     td:first-child,
    //     mat-cell:first-child,
    //     .mat-cell:first-child {
    //         padding-left: 24px;
    //     }

    //     th:last-child,
    //     mat-header-cell:last-child,
    //     .mat-header-cell:last-child,
    //     td:last-child,
    //     mat-cell:last-child,
    //     .mat-cell:last-child {
    //         padding-right: 24px;
    //     }

    //     tr,
    //     mat-row,
    //     .mat-row {
    //         height: auto;
    //     }
    // }
}


@mixin tablePageLayout() {
    .body {
        display: flex;
        flex-direction: column;

        >* {
            margin: 8px 0;
        }

        >*:first-child {
            margin-top: 0;
        }

        >*:last-child {
            margin-bottom: 0;
        }

        h1 {
            margin: 0;
        }

        table {
            padding: 0 8px;
            width: 100%;
        }

        td {
            padding: 8px 8px;
            vertical-align: baseline;
        }

        th {
            padding: 0 8px;
        }


        .body-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: calc(-1.25em + 8px);
            margin-top: calc(-1.25em + 8px);

            h1 {
                line-height: 1;
                font-weight: normal;
                flex: 0.66;
            }

            .mat-input-element {
                text-align: right;
            }

            .mat-form-field {
                flex: 0.33;
            }
        }

        .body-footer {
            justify-content: flex-end;
            display: flex;
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            >* {
                margin-left: 8px;
            }
        }
    }
}