@import "~material-design-icons/iconfont/material-icons.css";

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
    font-size: 18px;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

pre {
    margin: 0;
    white-space: pre-wrap;
}

button * {
    pointer-events: none;
}

.simple-notification {
    word-break: break-word;
    float: right !important;
    width: auto !important;
    min-width: 300px;
}

.simple-notification-wrapper {
    min-width: 300px;
    width: auto !important;
    max-width: 400px;
}

.deleted-table-row {
    opacity: 0.5;
    filter: grayscale(1);
    pointer-events: none;
    user-select: none;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://localhost:4200/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://localhost:4200/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://localhost:4200/MaterialIcons-Regular.woff) format('woff'),
    url(https://localhost:4200/MaterialIcons-Regular.ttf) format('truetype');
}