@import 'mixins.scss';

@import '~@angular/material/theming';
@import './theme-palettes/dark.scss';
@import './theme-palettes/dark-warn.scss';

@import './theme-palettes/light.scss';

@include mat-core();

.light-theme {
    $primary: mat-palette($mat-light);
    $accent: mat-palette($mat-light, A200, A100, A400);
    $warn: mat-palette($mat-red);
    $theme: mat-light-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);

    @include simpleTable();
    @include rowOfButtons();
    @include section($theme);
    @include flex();
}

.dark-theme {
    $primary: mat-palette($mat-dark);
    $accent: mat-palette($mat-dark, 400);
    $warn: mat-palette($mat-warn-dark);
    $theme: mat-dark-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);

    @include simpleTable();
    @include rowOfButtons();
    @include section($theme);
    @include flex();

    ct-section-caption {
        border-bottom: 1px solid rgba(192, 192, 192, 1);
    }

} 