.ct-table {
    position: relative;
}


.ct-table__wait {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.1);
}

.ct-table--wait {
    .ct-table__body {
        opacity: 0.5;
    }

    .ct-table__wait {
        display: flex;
    }
}

.ct-table button {
    line-height: 24px;
}