:host-context([gap="16px"]) {
    margin: 16px;
}

:host-context([gap="12px"]) {
    margin: 12px;
}

:host-context([gap="8px"]) {
    margin: 8px;
}

:host-context([gap="4px"]) {
    margin: 4px;
}


:host[flex="1"] {
    flex: 1;
}

:host[flex="2"] {
    flex: 2;
}


:host[flex-shrink="0"] {
    flex: 0;
}

:host[flex-shrink="1"] {
    flex: 1;
}