ct-cols(align-items="flex-start")
	ct-col(size="6")
		ct-section
			ct-section-header
				ct-section-header-row
					ct-heading Edit Plan {{plan ? plan.id : ''}}
			ct-section-body('*ngIf'="currentState == states.firstLoading")
				ct-section-body-row
					mat-progress-bar(mode="indeterminate")
			ct-section-body('*ngIf'="[states.wait,states.show].includes(currentState)") 
				ct-section-body-row
					ct-section-content
						mat-form-field(appearance="outline")
							mat-label Parameters 
							textarea(matInput '[(ngModel)]'="plan.params" value="" cdkTextareaAutosize cdkAutosizeMinRows="10")
							mat-hint This is a required field.
			ct-section-footer
				ct-section-footer-row
					ct-flex(justify-content="flex-end" gap="8px")
						ct-flex-item: button(mat-stroked-button '(click)'="cancel()") Cancel
						ct-flex-item: button(mat-flat-button '(click)'="validate()" color="primary" '[disabled]'="[states.wait,states.firstLoading].includes(currentState)") Validate
						ct-flex-item: button(mat-flat-button '(click)'="save()" color="primary" '[disabled]'="[states.wait,states.firstLoading].includes(currentState)") Save
	ct-col(size="6")
		ct-section(*ngIf="response")
			ct-section-body
				ct-section-body-row
					ct-section-content
						p STATUS: {{response.status}}
						p(*ngFor="let error of response.errorMessages; index as i; trackBy: trackByFn") {{error}}



